<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.ClassifyRecordMapper">
  <resultMap id="BaseResultMap" type="com.zl.pojo.ClassifyRecord">
    <result column="ACCOUNTMONTH" jdbcType="VARCHAR" property="accountmonth" />
    <result column="BUSINESSBALANCE" jdbcType="DECIMAL" property="businessbalance" />
    <result column="CLASSIFYDATE" jdbcType="VARCHAR" property="classifydate" />
    <result column="CLASSIFYLEVEL" jdbcType="VARCHAR" property="classifylevel" />
    <result column="CLASSIFYORGID" jdbcType="VARCHAR" property="classifyorgid" />
    <result column="CLASSIFYUSERID" jdbcType="VARCHAR" property="classifyuserid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="EXPECTLOSSSUM" jdbcType="DECIMAL" property="expectlosssum" />
    <result column="FINALLYRESULT" jdbcType="VARCHAR" property="finallyresult" />
    <result column="FINISHDATE" jdbcType="VARCHAR" property="finishdate" />
    <result column="FINISHDATE2" jdbcType="VARCHAR" property="finishdate2" />
    <result column="FINISHDATE3" jdbcType="VARCHAR" property="finishdate3" />
    <result column="FINISHDATE4" jdbcType="VARCHAR" property="finishdate4" />
    <result column="FINISHDATE5" jdbcType="VARCHAR" property="finishdate5" />
    <result column="FIRSTRESULT" jdbcType="VARCHAR" property="firstresult" />
    <result column="INPUTDATE" jdbcType="VARCHAR" property="inputdate" />
    <result column="LASTRESULT" jdbcType="VARCHAR" property="lastresult" />
    <result column="MODELNO" jdbcType="VARCHAR" property="modelno" />
    <result column="OBJECTNO" jdbcType="VARCHAR" property="objectno" />
    <result column="OBJECTTYPE" jdbcType="VARCHAR" property="objecttype" />
    <result column="ORGID" jdbcType="VARCHAR" property="orgid" />
    <result column="ORIGINALPUTOUTDATE" jdbcType="VARCHAR" property="originalputoutdate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RESERVESUM" jdbcType="DECIMAL" property="reservesum" />
    <result column="RESULT1" jdbcType="VARCHAR" property="result1" />
    <result column="RESULT2" jdbcType="VARCHAR" property="result2" />
    <result column="RESULT3" jdbcType="VARCHAR" property="result3" />
    <result column="RESULT4" jdbcType="VARCHAR" property="result4" />
    <result column="RESULT5" jdbcType="VARCHAR" property="result5" />
    <result column="RESULTOPINION1" jdbcType="VARCHAR" property="resultopinion1" />
    <result column="RESULTOPINION2" jdbcType="VARCHAR" property="resultopinion2" />
    <result column="RESULTOPINION3" jdbcType="VARCHAR" property="resultopinion3" />
    <result column="RESULTOPINION4" jdbcType="VARCHAR" property="resultopinion4" />
    <result column="RESULTOPINION5" jdbcType="VARCHAR" property="resultopinion5" />
    <result column="RESULTUSERID2" jdbcType="VARCHAR" property="resultuserid2" />
    <result column="RESULTUSERID3" jdbcType="VARCHAR" property="resultuserid3" />
    <result column="RESULTUSERID4" jdbcType="VARCHAR" property="resultuserid4" />
    <result column="RESULTUSERID5" jdbcType="VARCHAR" property="resultuserid5" />
    <result column="RESULTUSERNAME1" jdbcType="VARCHAR" property="resultusername1" />
    <result column="RESULTUSERNAME2" jdbcType="VARCHAR" property="resultusername2" />
    <result column="RESULTUSERNAME3" jdbcType="VARCHAR" property="resultusername3" />
    <result column="RESULTUSERNAME4" jdbcType="VARCHAR" property="resultusername4" />
    <result column="RESULTUSERNAME5" jdbcType="VARCHAR" property="resultusername5" />
    <result column="SECONDRESULT" jdbcType="VARCHAR" property="secondresult" />
    <result column="SERIALNO" jdbcType="VARCHAR" property="serialno" />
    <result column="SUM1" jdbcType="DECIMAL" property="sum1" />
    <result column="SUM2" jdbcType="DECIMAL" property="sum2" />
    <result column="SUM3" jdbcType="DECIMAL" property="sum3" />
    <result column="SUM4" jdbcType="DECIMAL" property="sum4" />
    <result column="SUM5" jdbcType="DECIMAL" property="sum5" />
    <result column="UPDATEDATE" jdbcType="VARCHAR" property="updatedate" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
  </resultMap>
  <!-- <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql> -->
  <!-- <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql> -->
  <sql id="Base_Column_List">
    ACCOUNTMONTH, BUSINESSBALANCE, CLASSIFYDATE, CLASSIFYLEVEL, CLASSIFYORGID, CLASSIFYUSERID, 
    CUSTOMERID, EXPECTLOSSSUM, FINALLYRESULT, FINISHDATE, FINISHDATE2, FINISHDATE3, FINISHDATE4, 
    FINISHDATE5, FIRSTRESULT, INPUTDATE, LASTRESULT, MODELNO, OBJECTNO, OBJECTTYPE, ORGID, 
    ORIGINALPUTOUTDATE, REMARK, RESERVESUM, RESULT1, RESULT2, RESULT3, RESULT4, RESULT5, 
    RESULTOPINION1, RESULTOPINION2, RESULTOPINION3, RESULTOPINION4, RESULTOPINION5, RESULTUSERID2, 
    RESULTUSERID3, RESULTUSERID4, RESULTUSERID5, RESULTUSERNAME1, RESULTUSERNAME2, RESULTUSERNAME3, 
    RESULTUSERNAME4, RESULTUSERNAME5, SECONDRESULT, SERIALNO, SUM1, SUM2, SUM3, SUM4, 
    SUM5, UPDATEDATE, USERID, CLASSIFY
  </sql>
  <!-- <select id="selectByExample" parameterType="com.zl.pojo.ClassifyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CLASSIFY_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select> -->
 <!--  <delete id="deleteByExample" parameterType="com.zl.pojo.ClassifyRecordExample">
    delete from CLASSIFY_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete> -->
  <insert id="insert" parameterType="com.zl.pojo.ClassifyRecord">
    insert into CLASSIFY_RECORD (ACCOUNTMONTH, BUSINESSBALANCE, CLASSIFYDATE, 
      CLASSIFYLEVEL, CLASSIFYORGID, CLASSIFYUSERID, 
      CUSTOMERID, EXPECTLOSSSUM, FINALLYRESULT, 
      FINISHDATE, FINISHDATE2, FINISHDATE3, 
      FINISHDATE4, FINISHDATE5, FIRSTRESULT, 
      INPUTDATE, LASTRESULT, MODELNO, 
      OBJECTNO, OBJECTTYPE, ORGID, 
      ORIGINALPUTOUTDATE, REMARK, RESERVESUM, 
      RESULT1, RESULT2, RESULT3, 
      RESULT4, RESULT5, RESULTOPINION1, 
      RESULTOPINION2, RESULTOPINION3, RESULTOPINION4, 
      RESULTOPINION5, RESULTUSERID2, RESULTUSERID3, 
      RESULTUSERID4, RESULTUSERID5, RESULTUSERNAME1, 
      RESULTUSERNAME2, RESULTUSERNAME3, RESULTUSERNAME4, 
      RESULTUSERNAME5, SECONDRESULT, SERIALNO, 
      SUM1, SUM2, SUM3, SUM4, 
      SUM5, UPDATEDATE, USERID, 
      CLASSIFY)
    values (#{accountmonth,jdbcType=VARCHAR}, #{businessbalance,jdbcType=DECIMAL}, #{classifydate,jdbcType=VARCHAR}, 
      #{classifylevel,jdbcType=VARCHAR}, #{classifyorgid,jdbcType=VARCHAR}, #{classifyuserid,jdbcType=VARCHAR}, 
      #{customerid,jdbcType=VARCHAR}, #{expectlosssum,jdbcType=DECIMAL}, #{finallyresult,jdbcType=VARCHAR}, 
      #{finishdate,jdbcType=VARCHAR}, #{finishdate2,jdbcType=VARCHAR}, #{finishdate3,jdbcType=VARCHAR}, 
      #{finishdate4,jdbcType=VARCHAR}, #{finishdate5,jdbcType=VARCHAR}, #{firstresult,jdbcType=VARCHAR}, 
      #{inputdate,jdbcType=VARCHAR}, #{lastresult,jdbcType=VARCHAR}, #{modelno,jdbcType=VARCHAR}, 
      #{objectno,jdbcType=VARCHAR}, #{objecttype,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, 
      #{originalputoutdate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{reservesum,jdbcType=DECIMAL}, 
      #{result1,jdbcType=VARCHAR}, #{result2,jdbcType=VARCHAR}, #{result3,jdbcType=VARCHAR}, 
      #{result4,jdbcType=VARCHAR}, #{result5,jdbcType=VARCHAR}, #{resultopinion1,jdbcType=VARCHAR}, 
      #{resultopinion2,jdbcType=VARCHAR}, #{resultopinion3,jdbcType=VARCHAR}, #{resultopinion4,jdbcType=VARCHAR}, 
      #{resultopinion5,jdbcType=VARCHAR}, #{resultuserid2,jdbcType=VARCHAR}, #{resultuserid3,jdbcType=VARCHAR}, 
      #{resultuserid4,jdbcType=VARCHAR}, #{resultuserid5,jdbcType=VARCHAR}, #{resultusername1,jdbcType=VARCHAR}, 
      #{resultusername2,jdbcType=VARCHAR}, #{resultusername3,jdbcType=VARCHAR}, #{resultusername4,jdbcType=VARCHAR}, 
      #{resultusername5,jdbcType=VARCHAR}, #{secondresult,jdbcType=VARCHAR}, #{serialno,jdbcType=VARCHAR}, 
      #{sum1,jdbcType=DECIMAL}, #{sum2,jdbcType=DECIMAL}, #{sum3,jdbcType=DECIMAL}, #{sum4,jdbcType=DECIMAL}, 
      #{sum5,jdbcType=DECIMAL}, #{updatedate,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{classify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.ClassifyRecord">
    insert into CLASSIFY_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountmonth != null">
        ACCOUNTMONTH,
      </if>
      <if test="businessbalance != null">
        BUSINESSBALANCE,
      </if>
      <if test="classifydate != null">
        CLASSIFYDATE,
      </if>
      <if test="classifylevel != null">
        CLASSIFYLEVEL,
      </if>
      <if test="classifyorgid != null">
        CLASSIFYORGID,
      </if>
      <if test="classifyuserid != null">
        CLASSIFYUSERID,
      </if>
      <if test="customerid != null">
        CUSTOMERID,
      </if>
      <if test="expectlosssum != null">
        EXPECTLOSSSUM,
      </if>
      <if test="finallyresult != null">
        FINALLYRESULT,
      </if>
      <if test="finishdate != null">
        FINISHDATE,
      </if>
      <if test="finishdate2 != null">
        FINISHDATE2,
      </if>
      <if test="finishdate3 != null">
        FINISHDATE3,
      </if>
      <if test="finishdate4 != null">
        FINISHDATE4,
      </if>
      <if test="finishdate5 != null">
        FINISHDATE5,
      </if>
      <if test="firstresult != null">
        FIRSTRESULT,
      </if>
      <if test="inputdate != null">
        INPUTDATE,
      </if>
      <if test="lastresult != null">
        LASTRESULT,
      </if>
      <if test="modelno != null">
        MODELNO,
      </if>
      <if test="objectno != null">
        OBJECTNO,
      </if>
      <if test="objecttype != null">
        OBJECTTYPE,
      </if>
      <if test="orgid != null">
        ORGID,
      </if>
      <if test="originalputoutdate != null">
        ORIGINALPUTOUTDATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="reservesum != null">
        RESERVESUM,
      </if>
      <if test="result1 != null">
        RESULT1,
      </if>
      <if test="result2 != null">
        RESULT2,
      </if>
      <if test="result3 != null">
        RESULT3,
      </if>
      <if test="result4 != null">
        RESULT4,
      </if>
      <if test="result5 != null">
        RESULT5,
      </if>
      <if test="resultopinion1 != null">
        RESULTOPINION1,
      </if>
      <if test="resultopinion2 != null">
        RESULTOPINION2,
      </if>
      <if test="resultopinion3 != null">
        RESULTOPINION3,
      </if>
      <if test="resultopinion4 != null">
        RESULTOPINION4,
      </if>
      <if test="resultopinion5 != null">
        RESULTOPINION5,
      </if>
      <if test="resultuserid2 != null">
        RESULTUSERID2,
      </if>
      <if test="resultuserid3 != null">
        RESULTUSERID3,
      </if>
      <if test="resultuserid4 != null">
        RESULTUSERID4,
      </if>
      <if test="resultuserid5 != null">
        RESULTUSERID5,
      </if>
      <if test="resultusername1 != null">
        RESULTUSERNAME1,
      </if>
      <if test="resultusername2 != null">
        RESULTUSERNAME2,
      </if>
      <if test="resultusername3 != null">
        RESULTUSERNAME3,
      </if>
      <if test="resultusername4 != null">
        RESULTUSERNAME4,
      </if>
      <if test="resultusername5 != null">
        RESULTUSERNAME5,
      </if>
      <if test="secondresult != null">
        SECONDRESULT,
      </if>
      <if test="serialno != null">
        SERIALNO,
      </if>
      <if test="sum1 != null">
        SUM1,
      </if>
      <if test="sum2 != null">
        SUM2,
      </if>
      <if test="sum3 != null">
        SUM3,
      </if>
      <if test="sum4 != null">
        SUM4,
      </if>
      <if test="sum5 != null">
        SUM5,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="classify != null">
        CLASSIFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountmonth != null">
        #{accountmonth,jdbcType=VARCHAR},
      </if>
      <if test="businessbalance != null">
        #{businessbalance,jdbcType=DECIMAL},
      </if>
      <if test="classifydate != null">
        #{classifydate,jdbcType=VARCHAR},
      </if>
      <if test="classifylevel != null">
        #{classifylevel,jdbcType=VARCHAR},
      </if>
      <if test="classifyorgid != null">
        #{classifyorgid,jdbcType=VARCHAR},
      </if>
      <if test="classifyuserid != null">
        #{classifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="expectlosssum != null">
        #{expectlosssum,jdbcType=DECIMAL},
      </if>
      <if test="finallyresult != null">
        #{finallyresult,jdbcType=VARCHAR},
      </if>
      <if test="finishdate != null">
        #{finishdate,jdbcType=VARCHAR},
      </if>
      <if test="finishdate2 != null">
        #{finishdate2,jdbcType=VARCHAR},
      </if>
      <if test="finishdate3 != null">
        #{finishdate3,jdbcType=VARCHAR},
      </if>
      <if test="finishdate4 != null">
        #{finishdate4,jdbcType=VARCHAR},
      </if>
      <if test="finishdate5 != null">
        #{finishdate5,jdbcType=VARCHAR},
      </if>
      <if test="firstresult != null">
        #{firstresult,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null">
        #{inputdate,jdbcType=VARCHAR},
      </if>
      <if test="lastresult != null">
        #{lastresult,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="objectno != null">
        #{objectno,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null">
        #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="originalputoutdate != null">
        #{originalputoutdate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="reservesum != null">
        #{reservesum,jdbcType=DECIMAL},
      </if>
      <if test="result1 != null">
        #{result1,jdbcType=VARCHAR},
      </if>
      <if test="result2 != null">
        #{result2,jdbcType=VARCHAR},
      </if>
      <if test="result3 != null">
        #{result3,jdbcType=VARCHAR},
      </if>
      <if test="result4 != null">
        #{result4,jdbcType=VARCHAR},
      </if>
      <if test="result5 != null">
        #{result5,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion1 != null">
        #{resultopinion1,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion2 != null">
        #{resultopinion2,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion3 != null">
        #{resultopinion3,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion4 != null">
        #{resultopinion4,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion5 != null">
        #{resultopinion5,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid2 != null">
        #{resultuserid2,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid3 != null">
        #{resultuserid3,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid4 != null">
        #{resultuserid4,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid5 != null">
        #{resultuserid5,jdbcType=VARCHAR},
      </if>
      <if test="resultusername1 != null">
        #{resultusername1,jdbcType=VARCHAR},
      </if>
      <if test="resultusername2 != null">
        #{resultusername2,jdbcType=VARCHAR},
      </if>
      <if test="resultusername3 != null">
        #{resultusername3,jdbcType=VARCHAR},
      </if>
      <if test="resultusername4 != null">
        #{resultusername4,jdbcType=VARCHAR},
      </if>
      <if test="resultusername5 != null">
        #{resultusername5,jdbcType=VARCHAR},
      </if>
      <if test="secondresult != null">
        #{secondresult,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null">
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="sum1 != null">
        #{sum1,jdbcType=DECIMAL},
      </if>
      <if test="sum2 != null">
        #{sum2,jdbcType=DECIMAL},
      </if>
      <if test="sum3 != null">
        #{sum3,jdbcType=DECIMAL},
      </if>
      <if test="sum4 != null">
        #{sum4,jdbcType=DECIMAL},
      </if>
      <if test="sum5 != null">
        #{sum5,jdbcType=DECIMAL},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateClassifyRecord" parameterType="com.zl.pojo.ClassifyRecord">
    update CLASSIFY_RECORD
    <set>
        <if test="accountmonth != null">
          ACCOUNTMONTH = #{accountmonth,jdbcType=VARCHAR},
        </if>
        <if test="businessbalance != null">
          BUSINESSBALANCE = #{businessbalance,jdbcType=DECIMAL},
        </if>
        <if test="classifydate != null">
          CLASSIFYDATE = #{classifydate,jdbcType=VARCHAR},
        </if>
        <if test="classifylevel != null">
          CLASSIFYLEVEL = #{classifylevel,jdbcType=VARCHAR},
        </if>
        <if test="classifyorgid != null">
          CLASSIFYORGID = #{classifyorgid,jdbcType=VARCHAR},
        </if>
        <if test="classifyuserid != null">
          CLASSIFYUSERID = #{classifyuserid,jdbcType=VARCHAR},
        </if>
        <if test="customerid != null">
          CUSTOMERID = #{customerid,jdbcType=VARCHAR},
        </if>
        <if test="expectlosssum != null">
          EXPECTLOSSSUM = #{expectlosssum,jdbcType=DECIMAL},
        </if>
        <if test="finallyresult != null">
          FINALLYRESULT = #{finallyresult,jdbcType=VARCHAR},
        </if>
        <if test="finishdate != null">
          FINISHDATE = #{finishdate,jdbcType=VARCHAR},
        </if>
        <if test="finishdate2 != null">
          FINISHDATE2 = #{finishdate2,jdbcType=VARCHAR},
        </if>
        <if test="finishdate3 != null">
          FINISHDATE3 = #{finishdate3,jdbcType=VARCHAR},
        </if>
        <if test="finishdate4 != null">
          FINISHDATE4 = #{finishdate4,jdbcType=VARCHAR},
        </if>
        <if test="finishdate5 != null">
          FINISHDATE5 = #{finishdate5,jdbcType=VARCHAR},
        </if>
        <if test="firstresult != null">
          FIRSTRESULT = #{firstresult,jdbcType=VARCHAR},
        </if>
        <if test="inputdate != null">
          INPUTDATE = #{inputdate,jdbcType=VARCHAR},
        </if>
        <if test="lastresult != null">
          LASTRESULT = #{lastresult,jdbcType=VARCHAR},
        </if>
        <if test="modelno != null">
          MODELNO = #{modelno,jdbcType=VARCHAR},
        </if>
        <if test="objectno != null">
          OBJECTNO = #{objectno,jdbcType=VARCHAR},
        </if>
        <if test="objecttype != null">
          OBJECTTYPE = #{objecttype,jdbcType=VARCHAR},
        </if>
        <if test="orgid != null">
          ORGID = #{orgid,jdbcType=VARCHAR},
        </if>
        <if test="originalputoutdate != null">
          ORIGINALPUTOUTDATE = #{originalputoutdate,jdbcType=VARCHAR},
        </if>
        <if test="remark != null">
          REMARK = #{remark,jdbcType=VARCHAR},
        </if>
        <if test="reservesum != null">
          RESERVESUM = #{reservesum,jdbcType=DECIMAL},
        </if>
        <if test="result1 != null">
          RESULT1 = #{result1,jdbcType=VARCHAR},
        </if>
        <if test="result2 != null">
          RESULT2 = #{result2,jdbcType=VARCHAR},
        </if>
        <if test="result3 != null">
          RESULT3 = #{result3,jdbcType=VARCHAR},
        </if>
        <if test="result4 != null">
          RESULT4 = #{result4,jdbcType=VARCHAR},
        </if>
        <if test="result5 != null">
          RESULT5 = #{result5,jdbcType=VARCHAR},
        </if>
        <if test="resultopinion1 != null">
          RESULTOPINION1 = #{resultopinion1,jdbcType=VARCHAR},
        </if>
        <if test="resultopinion2 != null">
          RESULTOPINION2 = #{resultopinion2,jdbcType=VARCHAR},
        </if>
        <if test="resultopinion3 != null">
          RESULTOPINION3 = #{resultopinion3,jdbcType=VARCHAR},
        </if>
        <if test="resultopinion4 != null">
          RESULTOPINION4 = #{resultopinion4,jdbcType=VARCHAR},
        </if>
        <if test="resultopinion5 != null">
          RESULTOPINION5 = #{resultopinion5,jdbcType=VARCHAR},
        </if>
        <if test="resultuserid2 != null">
          RESULTUSERID2 = #{resultuserid2,jdbcType=VARCHAR},
        </if>
        <if test="resultuserid3 != null">
          RESULTUSERID3 = #{resultuserid3,jdbcType=VARCHAR},
        </if>
        <if test="resultuserid4 != null">
          RESULTUSERID4 = #{resultuserid4,jdbcType=VARCHAR},
        </if>
        <if test="resultuserid5 != null">
          RESULTUSERID5 = #{resultuserid5,jdbcType=VARCHAR},
        </if>
        <if test="resultusername1 != null">
          RESULTUSERNAME1 = #{resultusername1,jdbcType=VARCHAR},
        </if>
        <if test="resultusername2 != null">
          RESULTUSERNAME2 = #{resultusername2,jdbcType=VARCHAR},
        </if>
        <if test="resultusername3 != null">
          RESULTUSERNAME3 = #{resultusername3,jdbcType=VARCHAR},
        </if>
        <if test="resultusername4 != null">
          RESULTUSERNAME4 = #{resultusername4,jdbcType=VARCHAR},
        </if>
        <if test="resultusername5 != null">
          RESULTUSERNAME5 = #{resultusername5,jdbcType=VARCHAR},
        </if>
        <if test="secondresult != null">
          SECONDRESULT = #{secondresult,jdbcType=VARCHAR},
        </if>

        <if test="sum1 != null">
          SUM1 = #{sum1,jdbcType=DECIMAL},
        </if>
        <if test="sum2 != null">
          SUM2 = #{sum2,jdbcType=DECIMAL},
        </if>
        <if test="sum3 != null">
          SUM3 = #{sum3,jdbcType=DECIMAL},
        </if>
        <if test="sum4 != null">
          SUM4 = #{sum4,jdbcType=DECIMAL},
        </if>
        <if test="sum5 != null">
          SUM5 = #{sum5,jdbcType=DECIMAL},
        </if>
        <if test="updatedate != null">
          UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
        </if>
        <if test="userid != null">
          USERID = #{userid,jdbcType=VARCHAR},
        </if>
        <if test="classify != null">
          CLASSIFY = #{classify,jdbcType=VARCHAR}
        </if>
      </set>

     where SERIALNO = #{serialno,jdbcType=VARCHAR}

  </update>
  <!-- <select id="countByExample" parameterType="com.zl.pojo.ClassifyRecordExample" resultType="java.lang.Long">
    select count(*) from CLASSIFY_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select> -->
  <!--根据流水号查询详细的记录表-->
  <select id="selectClassifyRecordBySerno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CLASSIFY_RECORD 
   	where serialno = #{serialno,jdbcType=VARCHAR}
    <!-- <if test="orderByClause != null">
      order by ${orderByClause,jdbcType=VARCHAR}
    </if> -->
  </select>
  <!--查询出有没有该流水号的记录表-->
  <select id="queryClassifyByserialNo" resultType="java.lang.Integer">
    select count(*) from CLASSIFY_RECORD
    where SERIALNO=#{serialno,jdbcType=VARCHAR}
  </select>

  <!-- <update id="updateByExampleSelective" parameterType="map">
    update CLASSIFY_RECORD
    <set>
      <if test="accountmonth != null">
        ACCOUNTMONTH = #{accountmonth,jdbcType=VARCHAR},
      </if>
      <if test="businessbalance != null">
        BUSINESSBALANCE = #{businessbalance,jdbcType=DECIMAL},
      </if>
      <if test="classifydate != null">
        CLASSIFYDATE = #{classifydate,jdbcType=VARCHAR},
      </if>
      <if test="classifylevel != null">
        CLASSIFYLEVEL = #{classifylevel,jdbcType=VARCHAR},
      </if>
      <if test="classifyorgid != null">
        CLASSIFYORGID = #{classifyorgid,jdbcType=VARCHAR},
      </if>
      <if test="classifyuserid != null">
        CLASSIFYUSERID = #{classifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="expectlosssum != null">
        EXPECTLOSSSUM = #{expectlosssum,jdbcType=DECIMAL},
      </if>
      <if test="finallyresult != null">
        FINALLYRESULT = #{finallyresult,jdbcType=VARCHAR},
      </if>
      <if test="finishdate != null">
        FINISHDATE = #{finishdate,jdbcType=VARCHAR},
      </if>
      <if test="finishdate2 != null">
        FINISHDATE2 = #{finishdate2,jdbcType=VARCHAR},
      </if>
      <if test="finishdate3 != null">
        FINISHDATE3 = #{finishdate3,jdbcType=VARCHAR},
      </if>
      <if test="finishdate4 != null">
        FINISHDATE4 = #{finishdate4,jdbcType=VARCHAR},
      </if>
      <if test="finishdate5 != null">
        FINISHDATE5 = #{finishdate5,jdbcType=VARCHAR},
      </if>
      <if test="firstresult != null">
        FIRSTRESULT = #{firstresult,jdbcType=VARCHAR},
      </if>
      <if test="inputdate != null">
        INPUTDATE = #{inputdate,jdbcType=VARCHAR},
      </if>
      <if test="lastresult != null">
        LASTRESULT = #{lastresult,jdbcType=VARCHAR},
      </if>
      <if test="modelno != null">
        MODELNO = #{modelno,jdbcType=VARCHAR},
      </if>
      <if test="objectno != null">
        OBJECTNO = #{objectno,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null">
        OBJECTTYPE = #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        ORGID = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="originalputoutdate != null">
        ORIGINALPUTOUTDATE = #{originalputoutdate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="reservesum != null">
        RESERVESUM = #{reservesum,jdbcType=DECIMAL},
      </if>
      <if test="result1 != null">
        RESULT1 = #{result1,jdbcType=VARCHAR},
      </if>
      <if test="result2 != null">
        RESULT2 = #{result2,jdbcType=VARCHAR},
      </if>
      <if test="result3 != null">
        RESULT3 = #{result3,jdbcType=VARCHAR},
      </if>
      <if test="result4 != null">
        RESULT4 = #{result4,jdbcType=VARCHAR},
      </if>
      <if test="result5 != null">
        RESULT5 = #{result5,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion1 != null">
        RESULTOPINION1 = #{resultopinion1,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion2 != null">
        RESULTOPINION2 = #{resultopinion2,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion3 != null">
        RESULTOPINION3 = #{resultopinion3,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion4 != null">
        RESULTOPINION4 = #{resultopinion4,jdbcType=VARCHAR},
      </if>
      <if test="resultopinion5 != null">
        RESULTOPINION5 = #{resultopinion5,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid2 != null">
        RESULTUSERID2 = #{resultuserid2,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid3 != null">
        RESULTUSERID3 = #{resultuserid3,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid4 != null">
        RESULTUSERID4 = #{resultuserid4,jdbcType=VARCHAR},
      </if>
      <if test="resultuserid5 != null">
        RESULTUSERID5 = #{resultuserid5,jdbcType=VARCHAR},
      </if>
      <if test="resultusername1 != null">
        RESULTUSERNAME1 = #{resultusername1,jdbcType=VARCHAR},
      </if>
      <if test="resultusername2 != null">
        RESULTUSERNAME2 = #{resultusername2,jdbcType=VARCHAR},
      </if>
      <if test="resultusername3 != null">
        RESULTUSERNAME3 = #{resultusername3,jdbcType=VARCHAR},
      </if>
      <if test="resultusername4 != null">
        RESULTUSERNAME4 = #{resultusername4,jdbcType=VARCHAR},
      </if>
      <if test="resultusername5 != null">
        RESULTUSERNAME5 = #{resultusername5,jdbcType=VARCHAR},
      </if>
      <if test="secondresult != null">
        SECONDRESULT = #{secondresult,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null">
        SERIALNO = #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="sum1 != null">
        SUM1 = #{sum1,jdbcType=DECIMAL},
      </if>
      <if test="sum2 != null">
        SUM2 = #{sum2,jdbcType=DECIMAL},
      </if>
      <if test="sum3 != null">
        SUM3 = #{sum3,jdbcType=DECIMAL},
      </if>
      <if test="sum4 != null">
        SUM4 = #{sum4,jdbcType=DECIMAL},
      </if>
      <if test="sum5 != null">
        SUM5 = #{sum5,jdbcType=DECIMAL},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        CLASSIFY = #{classify,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update> -->
  <!-- <update id="updateByExample" parameterType="map">
    update CLASSIFY_RECORD
    set ACCOUNTMONTH = #{accountmonth,jdbcType=VARCHAR},
      BUSINESSBALANCE = #{businessbalance,jdbcType=DECIMAL},
      CLASSIFYDATE = #{classifydate,jdbcType=VARCHAR},
      CLASSIFYLEVEL = #{classifylevel,jdbcType=VARCHAR},
      CLASSIFYORGID = #{classifyorgid,jdbcType=VARCHAR},
      CLASSIFYUSERID = #{classifyuserid,jdbcType=VARCHAR},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      EXPECTLOSSSUM = #{expectlosssum,jdbcType=DECIMAL},
      FINALLYRESULT = #{finallyresult,jdbcType=VARCHAR},
      FINISHDATE = #{finishdate,jdbcType=VARCHAR},
      FINISHDATE2 = #{finishdate2,jdbcType=VARCHAR},
      FINISHDATE3 = #{finishdate3,jdbcType=VARCHAR},
      FINISHDATE4 = #{finishdate4,jdbcType=VARCHAR},
      FINISHDATE5 = #{finishdate5,jdbcType=VARCHAR},
      FIRSTRESULT = #{firstresult,jdbcType=VARCHAR},
      INPUTDATE = #{inputdate,jdbcType=VARCHAR},
      LASTRESULT = #{lastresult,jdbcType=VARCHAR},
      MODELNO = #{modelno,jdbcType=VARCHAR},
      OBJECTNO = #{objectno,jdbcType=VARCHAR},
      OBJECTTYPE = #{objecttype,jdbcType=VARCHAR},
      ORGID = #{orgid,jdbcType=VARCHAR},
      ORIGINALPUTOUTDATE = #{originalputoutdate,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RESERVESUM = #{reservesum,jdbcType=DECIMAL},
      RESULT1 = #{result1,jdbcType=VARCHAR},
      RESULT2 = #{result2,jdbcType=VARCHAR},
      RESULT3 = #{result3,jdbcType=VARCHAR},
      RESULT4 = #{result4,jdbcType=VARCHAR},
      RESULT5 = #{result5,jdbcType=VARCHAR},
      RESULTOPINION1 = #{resultopinion1,jdbcType=VARCHAR},
      RESULTOPINION2 = #{resultopinion2,jdbcType=VARCHAR},
      RESULTOPINION3 = #{resultopinion3,jdbcType=VARCHAR},
      RESULTOPINION4 = #{resultopinion4,jdbcType=VARCHAR},
      RESULTOPINION5 = #{resultopinion5,jdbcType=VARCHAR},
      RESULTUSERID2 = #{resultuserid2,jdbcType=VARCHAR},
      RESULTUSERID3 = #{resultuserid3,jdbcType=VARCHAR},
      RESULTUSERID4 = #{resultuserid4,jdbcType=VARCHAR},
      RESULTUSERID5 = #{resultuserid5,jdbcType=VARCHAR},
      RESULTUSERNAME1 = #{resultusername1,jdbcType=VARCHAR},
      RESULTUSERNAME2 = #{resultusername2,jdbcType=VARCHAR},
      RESULTUSERNAME3 = #{resultusername3,jdbcType=VARCHAR},
      RESULTUSERNAME4 = #{resultusername4,jdbcType=VARCHAR},
      RESULTUSERNAME5 = #{resultusername5,jdbcType=VARCHAR},
      SECONDRESULT = #{secondresult,jdbcType=VARCHAR},
      SERIALNO = #{serialno,jdbcType=VARCHAR},
      SUM1 = #{sum1,jdbcType=DECIMAL},
      SUM2 = #{sum2,jdbcType=DECIMAL},
      SUM3 = #{sum3,jdbcType=DECIMAL},
      SUM4 = #{sum4,jdbcType=DECIMAL},
      SUM5 = #{sum5,jdbcType=DECIMAL},
      UPDATEDATE = #{updatedate,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR},
      CLASSIFY = #{classify,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update> -->
</mapper>