<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.dao.ScorecardMapper">
    <sql id="re">
         Id ,gradeType,childname,parentname ,lowgradebanlance ,highgradebanlance ,gradeTarget,value,goal,parentId,updatedate
    </sql>
    <insert id="insertSelective" parameterType="Scorecard" >
        insert into DDJ.SCORECARD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gradeTarget,
            <if test="Id != null and Id!=''">
            id,
            </if>
            <if test="childname != null and childname!=''">
                childname,
            </if>

            <if test="parentname != null and parentname!=''">
                parentname,
            </if>
            <if test="lowgradebanlance != null and lowgradebanlance!=''">
                lowgradebanlance,
            </if>
            <if test="highgradebanlance != null and highgradebanlance!=''">
                highgradebanlance,
            </if>
            <!--<if test="gradeTarget != null and gradeTarget!=''">
                gradeTarget,
            </if>-->
            <if test="value != null and value!=0.0">
                value,
            </if>
            <if test="goal != null and goal!=0.0">
                goal,
            </if>
            <if test="parentId != null and parentId!=''">
                parentId,
            </if>
            <if test="updatedate != null and updatedate!=''">
                updatedate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            seq_scorecard.nextval,
            <if test="Id != null and Id!=''">
             #{Id,jdbcType=VARCHAR},
            </if>
            <if test="childname != null and childname!=''">
                #{childname,jdbcType=VARCHAR},
            </if>

            <if test="parentname != null and parentname!=''">
                #{parentname,jdbcType=VARCHAR},
            </if>
            <if test="lowgradebanlance != null and lowgradebanlance!=''">
                #{lowgradebanlance,jdbcType=VARCHAR},
            </if>
            <if test="highgradebanlance != null and highgradebanlance!=''">
                #{highgradebanlance,jdbcType=VARCHAR},
            </if>
            <!--<if test="gradeTarget != null and gradeTarget!=''">
                #{gradeTarget,jdbcType=VARCHAR},
            </if>-->
            <if test="value != null and value!=0.0">
                #{value,jdbcType=DECIMAL},
            </if>
            <if test="goal != null and goal!=''">
                #{goal,jdbcType=DECIMAL},
            </if>
            <if test="parentId != null and parentId!=''">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="updatedate != null and updatedate!=''">
                to_date(substr(#{updatedate},0,10),'yyyy-MM-dd'),
            </if>
        </trim>

    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.Scorecard">
        update DDJ.SCORECARD
        <set>
            <if test="gradeType!=null and gradeType!=''">
                gradeType=#{gradeType,jdbcType=VARCHAR},
            </if>
            <if test="childname!=null and childname!=''">
                childname=#{childname,jdbcType=VARCHAR},
            </if>
            <if test="parentname!=null and parentname!=''">
                parentname=#{parentname,jdbcType=VARCHAR},
            </if>
            <if test="lowgradebanlance!=null and lowgradebanlance!=''">
                lowgradebanlance=#{lowgradebanlance,jdbcType=VARCHAR},
            </if>
            <if test="highgradebanlance!=null and highgradebanlance!=''">
                highgradebanlance=#{highgradebanlance,jdbcType=VARCHAR},
            </if>
            <if test="gradeTarget!=null and gradeTarget!=''">
                gradeTarget=#{gradeTarget,jdbcType=VARCHAR},
            </if>
            <if test="value!=null and id!=0.0">
                value=#{value,jdbcType=DECIMAL},
            </if>
            <if test="goal!=null and goal!=0.0">
                goal=#{goal,jdbcType=DECIMAL},
            </if>
            <if test="parentId!=null and parentId!=''">
                parentId=#{parentId,jdbcType=VARCHAR},
            </if>
            <if test="updatedate!=null and updatedate!=''">
                updatedate=to_date(substr('${updatedate}',0,10),yyyy-MM-dd),
            </if>
        </set>
        where id=#{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from DDJ.SCORECARD where id=#{id,jdbcType=VARCHAR}
    </delete>
    <select id="selectByPrimaryKey" resultType="com.zl.pojo.Scorecard" parameterType="com.zl.pojo.Scorecard">
        select
        <include refid="re" />
        from DDJ.SCORECARD
        <where>
            <if test="gradeType != null and gradeType!=''">
              and  gradeType= #{gradeType,jdbcType=VARCHAR}
            </if>
            <if test="childname != null and childname!=''">
                and    childname=#{childname,jdbcType=VARCHAR}
            </if>
            <if test="parentname != null and parentname!=''">
                and    parentname= #{parentname,jdbcType=VARCHAR}
            </if>
            <if test="lowgradebanlance != null and lowgradebanlance!=''">
                and    lowgradebanlance= #{lowgradebanlance,jdbcType=VARCHAR}
            </if>
            <if test="highgradebanlance != null and highgradebanlance!=''">
                and    highgradebanlance=#{highgradebanlance,jdbcType=VARCHAR}
            </if>
            <if test="gradeTarget != null and gradeTarget!=''">
                and    gradeTarget= #{gradeTarget,jdbcType=VARCHAR}
            </if>
            <if test="value != null and value!=0.0">
                and   value= #{value,jdbcType=DECIMAL}
            </if>
            <if test="goal != null and goal!=''">
                and   goal= goal=#{goal,jdbcType=DECIMAL}
            </if>
            <if test="parentId != null and parentId!=''">
                and    parentId= #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="updatedate != null and updatedate!=''">
                and   updatedate= #{updatedate,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectCategoryChildrenByParentId" parameterType="java.lang.String" resultType="com.zl.pojo.Scorecard">
        select <include refid="re" />
         from DDJ.SCORECARD
        where PARENTID =#{parentId,jdbcType=VARCHAR}
    </select>
    <select id="queryChildrenParallelCategory" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id
        from DDJ.SCORECARD
        where PARENTID =#{parentId}
    </select>

</mapper>