body{margin:0px; font-size:12px; font-family:宋体;line-height:20px;}
a.red:link { color:red; text-decoration:underline; } 
a.red:visited { color:red; text-decoration:underline; } 
a.red:hover { color:red; text-decoration:underline; } 
a.navlink:link { color:#333333; text-decoration:underline; } 
a.navlink:visited { color:#333333; text-decoration:underline; } 
a.navlink:hover { color:red; text-decoration:underline; }
.DivContainer{width:950px;margin:0 auto;}  
.DivLeft{width:723px;float:left;}
.DivRight{width:209px;float:left; margin-left:18px}
.DivBottom{width:950px; /*border:1px solid #cccccc;*/ margin:0 auto; clear:both;}
/*netPaySafeTip*/
.u_safttip_con{width:209px;margin-bottom:8px; margin-top:-8px;}
/*favshop*/
.u_favshop{width:209px;margin:0px 0px 8px 0px;}
.u_favshop_head{width:209px;height:31px;background:url(http://www.cmbchina.com/images/favshophead.jpg) no-repeat;margin:0;}
.u_favshop_con{border:1px solid #cccccc;height:160px}
.u_favshop_con .u_favshop_center{text-align:center; clear:both;}
.u_favshop_con ul{ text-align:left; margin-left:20px; margin-top:15px}
.u_favshop_con ul li{ height:35px}
.filtershop,.filterarea{border:1px solid #A6A6A6; width:140px; height:23px; float:left; border-right:none; font-size:14px; line-height:23px}
.filterkeyword{border:1px solid #A6A6A6; width:119px; height:21px;border-right:none;font-size:14px;line-height:21px; float:left;}
.btnconfirm{ border:1px solid #A6A6A6; width:46px;height:23px; background-color:#CB0000;color:White; font-size:14px; text-align:center; float:left; display:block; cursor:hand; line-height:23px;}
.btnArr{ background-image:url(http://www.cmbchina.com/images/downlist.gif); margin:0; width:28px; height:25px; display:block; float:left}
.u_favshop_con ul a:link {text-decoration:none; } 
.u_favshop_con ul a:visited {text-decoration:none; } 
.u_favshop_con ul a:hover{text-decoration:none; }
/*navlink*/
.NavLink{ width:721px; height:28px; border:1px solid #cccccc; margin-bottom:4px; background-color:#F1F1F1}
.NavLinkCon{width:685px; height:28px;margin-left:30px; line-height:28px; color:#696969}
.NavLink a:link {text-decoration:none; color:#696969} 
.NavLink a:visited {text-decoration:none;  color:#696969} 
.NavLink a:hover{text-decoration:none; }
/*newactivity*/
.newactivity{width:723px;margin:0px;height:228px!important;padding:0; margin-top:10px; clear:both}
.newactivity_head{margin:0px; height:33px!important;height:33px; vertical-align:middle;background: url(http://www.cmbchina.com/images/main_content_bg_2dot.gif) no-repeat;color:Black;font-weight:bold;}
.newactivity_head #spanleft{ margin-left:45px; float:left;font-size:13px; margin-top:8px;  vertical-align:baseline;color:Black;font-weight:bold; font-size:14px}
.newactivity_head #spanright{ margin-right:225px; float:right;font-size:13px; margin-top:8px;  vertical-align:baseline;color:Black;font-weight:bold; font-size:14px}
.newactivity_container{ width:721px;height:196px;border:1px solid #cccccc;margin:0px; border-top:none}
.newactivity_container .left{width:368px; height:160px; margin-left:20px !important; margin-left:10px; margin-top:15px; float:left}
.newactivity_container .right{width:293px; height:160px; margin-left:27px; margin-top:15px;  float:left}
.newactivity_container .right a:link {text-decoration:none;} 
.newactivity_container .right a:visited {text-decoration:none;} 
.newactivity_container .right a:hover{text-decoration:none; }
/*VIP & productservice*/
.u_mid{width:723px;margin:0px;height:228px;padding:0; margin-top:10px;}
.u_mid_head{margin:0px; height:33px!important;height:33px; vertical-align:middle;background: url(http://www.cmbchina.com/images/main_content_bg.jpg) no-repeat;color:Black;font-weight:bold;}
.u_mid_head span{margin-left:45px; float:left;font-size:14px; margin-top:8px;  vertical-align:baseline; }
.u_mid_container{ width:721px;height:196px;border:1px solid #cccccc;margin:0px;padding:0;border-top:none;}
.u_mid_spacer{height:140px; border-right:1px solid #cccccc; margin-top:20px; float:left}
.u_mid_con_left{width:388px;height:196px;float:left;}
.u_mid_left_info{width:330px; height:150px;/* border:1px solid red;*/margin-left:20px; margin-top:20px}
.u_mid_con_left .btnmore{width:49px; height:19px; float: right;padding-right:40px}
.u_card_left_info{width:330px; height:133px; margin-left:30px; margin-top:30px;}
.u_mid_con_right{ width:330px;height:196px;float:left;}
.u_mid_con_right .btnmore{width:49px; height:19px; float: right; padding-right:20px}
.u_mid_right_info{width:315px;height:160px; /*border:1px solid red;*/margin-left:15px; margin-top:15px}


.sun_mid_con_left{width:387px;height:193px;float:left;}
 .sun_mid_spacer{margin-top:20px;float:left;height:140px;width:1px;background: url(http://www.cmbchina.com/images/sun_split.gif) no-repeat;}
 .sun_mid_con_right{ width:330px;height:193px;float:left;}
 .sun_mid_container{ width:721px;height:196px;border:1px solid #cccccc;margin:0px;padding:0;height:auto!important; min-height:350px; *height:350px;}
 .sun_mid_content{height:auto!important; min-height:350px; *height:350px; margin:15px}
 .sun_u_mid{width:723px;margin:0px;margin-bottom:8px;padding:0; margin-top:10px;height:auto!important; min-height:385px; *height:385px;}
 
.singlecard{width:275px; height:97px; float:left; padding-left:4px}
.picA{ width:160px; height:97px; float:left;}
.txtA{ width:110px; height:97px; float:left; padding-left:5px}
.cardDiv{width:277px; height:97px;margin:0 10px 0 10px; overflow:hidden; float:left}
.cardscrollDiv{ width:2008px}
#List1, #List2{ float:left}
.rightdivItem{ width:315px; height:57px; clear:both}
.rightdivItem .left{ width:75px;height:57px; font-weight:bold; /*border:1px solid blue;*/ float:left; font-size:14px}
.rightdivItem .right{ width:240px;height:57px;/*border:1px solid blue; */float:left;}
.rightdivItem .right li{width:80px; float:left; height:25px;}
.vip_mid_left_info{width:360px; height:140px;margin-left:20px; margin-top:20px}
.vip_mid_right_info{width:300px;height:160px;margin-left:20px; margin-top:20px}
/*SaleShop*/
.False{ border:0; display:none; line-height:24px; margin-top:7px}
.True{border:0; display:inline-block;line-height:24px;margin-top:7px}
#specsale{margin:0 0 0 10px;  min-height: 110px; *height: 110px; height: auto}
#specsale a:link {text-decoration:none; } 
#specsale a:visited {text-decoration:none;} 
#specsale a:hover{text-decoration:none;}
.repsaleli{float: left; line-height: 24px; width: 100%; display: block; height: 24px;}
.morebtn{vertical-align:middle; border:0; width:49px; height:19px;}
/*DivBottomSumFlower*/
.bottom_con_column .bottom_con_title_s{width:90%;  font-size:12px; font-weight:bold; border-bottom:1px solid #ccc;background:url(http://www.cmbchina.com/images/arrow.jpg) no-repeat 0px 3px;}
/*repeaterli*/
.repeaterli{float: left; line-height: 24px; width: 100%; display: block; height: 24px;}
.repeaterli a.red:link { color:red; text-decoration:none} 
.repeaterli a.red:visited { color:red;text-decoration:none} 
.repeaterli a.red:hover { color:red;text-decoration:none} 
.repeaterli a.gray:link {  text-decoration:none} 
.repeaterli a.gray:visited {text-decoration:none} 
.repeaterli a.gray:hover {text-decoration:none} 
.repeaterli .fundcodetitle{float:left;height:24px;overflow:hidden;padding:0;text-align:center;vertical-align:bottom;white-space:nowrap;width:120px;}
.repeaterli .fundnametitle{float:left;height:24px;overflow:hidden;padding:0;text-align:center;vertical-align:bottom;white-space:nowrap;width:120px;}
.repeaterli .fundcode{float:left;height:24px;overflow:hidden;padding:0;text-align:center;vertical-align:bottom;white-space:nowrap;width:120px;}
.repeaterli .fundname{float:left;height:24px;overflow:hidden;padding:0;text-align:center;vertical-align:bottom;white-space:nowrap;width:120px;}
.leftbottomright .fin, .fund{ margin-top:10px}
.img0{ border:0; display:none; line-height:24px; margin-top:7px}
.img1{border:0; display:inline-block;line-height:24px;margin-top:7px}
.listItem{ padding-left:20px}

.whqq_display{width:680px;margin:20px 0px 20px 0px;height:auto!important; min-height:200px; *height:200px; }

/*CardInfo InvestInfo SavingInfo LivingInfo CreditInfo NetbankInfo*/
.sub_divcontainer{width:950px;margin:0 auto;}
.sub_divcontainer .right a:link { color:Blue; text-decoration:underline} 
.sub_divcontainer .right a:visited {color:Blue;text-decoration:underline} 
.sub_divcontainer .right a:hover {color:Blue; text-decoration:underline} 
.sub_divcontainer .left{ float:left; width:184px; border:1px solid #cccccc; border-top:none; min-height:171px; *height:171px; height:auto}
.sub_divcontainer .right{ float:left; width:754px; margin-left:8px;min-height:171px; *height:171px;height:auto;overflow-x: hidden;}
.sub_divcontainer .right .header{ width:754px; height:33px; background:url(http://www.cmbchina.com/images/header.gif)}
.sub_divcontainer .right .header span{ margin-left:45px; float:left;font-size:13px; margin-top:8px;  vertical-align:baseline;color:Black;font-weight:bold; font-size:14px}
.sub_divcontainer .right .content{width:752px; border:1px solid #cccccc;min-height:100px; *height:100px; height:auto;overflow-x: hidden;}
.sub_divcontainer .right .content .info{width:712px;  margin:20px 20px 20px 20px; min-height:100px; *height:100px;height:auto; overflow-x: hidden;}

.sub_divcontainer_big{width:950px;margin:0 auto;}
.sub_divcontainer_big .right a:link { color:Blue; text-decoration:underline} 
.sub_divcontainer_big .right a:visited {color:Blue;text-decoration:underline} 
.sub_divcontainer_big .right a:hover {color:Blue; text-decoration:underline} 
.sub_divcontainer_big .left{ float:left; width:209px; border:1px solid #cccccc; border-top:none; min-height:171px; *height:171px; height:auto}
.sub_divcontainer_big .right{ float:left; width:723px; margin-left:16px;min-height:171px; *height:171px;height:auto;overflow-x: hidden;}
.sub_divcontainer_big .right .header{ width:723px; height:33px; background:url(http://www.cmbchina.com/images/main_content_bg.jpg)}
.sub_divcontainer_big .right .header span{ margin-left:45px; float:left;font-size:13px; margin-top:8px;  vertical-align:baseline;color:Black;font-weight:bold; font-size:14px}
.sub_divcontainer_big .right .content{width:721px; border:1px solid #cccccc;min-height:100px; *height:100px; height:auto;overflow-x: hidden;}
.sub_divcontainer_big .right .content .info{width:681px;  margin:20px 20px 20px 20px; min-height:120px; *height:120px;height:auto; overflow-x: hidden;}

/*wma dirpages*/
.sub_divcontainer_big .right .gray12{ font-size:12px; color:#333; font-weight:bold}

.sub_divcontainer_big .right a.gray12:link {  color:#333; text-decoration:none} 
.sub_divcontainer_big .right a.gray12:visited {  color:#333;text-decoration:none} 
.sub_divcontainer_big .right a.gray12:hover { color:Red;text-decoration:none} 

.sub_divcontainer_big .right .dirhead{width:90%; float:left; margin: 0px 0px 5px 5px !important; margin: 0px 0px 9px 3px;}
.sub_divcontainer_big .right .pages{margin: 5px 0px 5px 20px; padding:1px;}

.sub_divcontainer_big .right .pages a:link{ color:#333; text-decoration:none}
.sub_divcontainer_big .right .pages a:visited{  color:#333;text-decoration:none} 
.sub_divcontainer_big .right .pages a:hover{ color:Red;text-decoration:none} 

.sub_divcontainer_big .right .pageitem{width: 155px; float:left; height:24px; display:block; line-height:24px}
.sub_divcontainer_big .right .divspacer{float:left; width: 100%;height: 10px;background-image: url(http://www.cmbchina.com/images/whqq_bg_line.gif); background-repeat: repeat-x; margin-top:3px!Important; margin-top:1px}
/*whqqNav*/
.sub_divcontainer_big  table .nonselect,.selected{ color:Black; font-size:12px; line-height:22px}
.sub_divcontainer_big table .mid{ border-bottom:1px solid #cccccc;}
.sub_divcontainer_big table .wwli{float: left; line-height: 15px; width: 100%; display: block; height: 15px;}
.sub_divcontainer_big table .wwspacer{width: 100%;height: 10px;background-image: url(http://www.cmbchina.com/images/whqq_bg_line.gif); background-repeat: repeat-x; margin-top:3px!Important; margin-top:1px}
.sub_divcontainer_big table a.nonselect:link { color:Black; text-decoration:none} 
.sub_divcontainer_big table a.nonselect:visited { color:Black;text-decoration:none} 
.sub_divcontainer_big table a.nonselect:hover { color:red;text-decoration:none} 
.sub_divcontainer_big table a.selected:link { color:red; text-decoration:none} 
.sub_divcontainer_big table a.selected:visited { color:red;text-decoration:none} 
.sub_divcontainer_big table a.selected:hover { color:red;text-decoration:none} 
.sub_divcontainer_big .right .righttop{overflow:hidden}
.sub_divcontainer_big .right .rightbottom{margin-top:8px;height:auto;}
.sub_divcontainer_big .right .rightbottom .invest{margin:0 auto; width:355px; height:auto; float:left}
.sub_divcontainer_big .right .rightbottom .investright{margin:0 auto; width:355px; height:auto; margin-left:0px; float:left;  margin-left:13px}
.sub_divcontainer_big .right .rightbottom .headinvest{margin:0px;width:355px; height:32px; background:url(http://www.cmbchina.com/images/header370.gif) no-repeat;}
.sub_divcontainer_big .right .rightbottom .headinvest span{margin-left:45px; float:left;margin-top:8px; color:Black;font-weight:bold; font-size:14px;}
.sub_divcontainer_big .right .rightbottom .containerinvest{width:353px;margin:0;border:1px solid #cccccc;height:160px;}
.sub_divcontainer_big .right .rightbottom .contentinvest{width:323px;margin:0 auto;height:130px; margin-top:20px; overflow:hidden}
.sub_divcontainer_big .right .rightbottom a:link { color:#333; text-decoration:none} 
.sub_divcontainer_big .right .rightbottom a:visited { color:#333;text-decoration:none} 
.sub_divcontainer_big .right .rightbottom a:hover { color:red;text-decoration:none} 
/*NetBank;Saving;Living;Lifechoice;Credit;CGJR;Allinonecard default*/
.comdivcontainer{width:950px;margin:0 auto;}
.comdivcontainer .left{ float:left; width:723px; height:auto;}
.comdivcontainer .right{ float:left; width:209px; margin-left:18px;margin-bottom:10px}
.comdivcontainer .left .lefttop{overflow:hidden}
.comdivcontainer .left .leftbottom{margin-top:8px;}
.comdivcontainer .left .leftbottom .leftbottomleft{ float:left; border:1px solid #ccc; border-top:none; min-height:386px; *height:386px;}
.comdivcontainer .left .leftbottom .leftbottomright{ float:left;margin-left:8px; min-height:100px; *height:100px; height:auto;}
.comdivcontainer .left .leftbottom .leftbottomright .comdiv{ margin:0 auto; width:529px; height:auto;}
.comdivcontainer .left .leftbottom .leftbottomright .head{margin:0px;width:529px; height:33px; background: url(http://www.cmbchina.com/images/content_bg.gif) no-repeat;}
.comdivcontainer .left .leftbottom .leftbottomright .head span{margin-left:45px; float:left;margin-top:8px; color:Black;font-weight:bold; font-size:14px;}
.comdivcontainer .left .leftbottom .leftbottomright .container{width:487px;border:1px solid #ccc;border-top:0px;  min-height:100px;*height:100px; height:auto;padding:20px;}
.comdivcontainer .left .leftbottom .leftbottomright .loancontainer{width:487px;border:1px solid #ccc;border-top:0px;  min-height:50px;*height:50px; height:auto;padding:14px 20px 14px 20px;}
.comdivcontainer .left .leftbottom .leftbottomright .loancontent{width:487px;  min-height:50px; *height:50px;height:auto}
.comdivcontainer .left .leftbottom .leftbottomright .content{width:487px;  min-height:100px; *height:100px;height:auto}
.comdivcontainer .left .leftbottom .leftbottomright .container520px{width:487px;border:1px solid #ccc;border-top:0px; height:auto!important; min-height:520px;*height:520px; padding:20px;}
.comdivcontainer .left .leftbottom .leftbottomright .content520px{width:487px; height:auto!important; min-height:520px; *height:520px; overflow-x:hidden}

.title{ font-weight:bold; font-size:12px;height:auto; margin:4px 0px 2px 0px; display:block}
.info{ font-size:12px; margin:2px 0px 2px 14px; display:block}
.lispacer{float: left; line-height: 15px; width: 100%;height: 15px;}
.divspacer{width: 100%;height: 10px;background-image: url(http://www.cmbchina.com/images/whqq_bg_line.gif); background-repeat: repeat-x; margin-top:3px!Important; margin-top:1px}
/*Invest; EBank; Private*/
.combigdivcontainer{width:950px;margin:0 auto;}
.combigdivcontainer .left{ float:left; width:184px; border:1px solid #cccccc; border-top:none; min-height:504px; *height:504px; margin-bottom:10px}
.combigdivcontainer .right{ float:left; width:754px; margin-left:8px;margin-bottom:10px; height:auto }
.combigdivcontainer .right .righttop{overflow:hidden}
.combigdivcontainer .right .rightbottom{margin-top:8px;height:auto;}
.combigdivcontainer .right .rightbottom .comdiv{ margin:0 auto; width:754px; height:auto;}
.combigdivcontainer .right .rightbottom .head{margin:0px;width:754px; height:33px; background:url(http://www.cmbchina.com/images/header.gif) no-repeat;}
.combigdivcontainer .right .rightbottom .head span{margin-left:45px; float:left;margin-top:8px; color:Black;font-weight:bold; font-size:14px;}
.combigdivcontainer .right .rightbottom .container{width:712px;border:1px solid #ccc;border-top:0px; height:auto!important; min-height:80px;*height:80px; padding:20px;}
.combigdivcontainer .right .rightbottom .content{width:712px; height:auto!important; min-height:80px; *height:80px;}
.combigdivcontainer .right .rightbottom .container254px{width:712px;border:1px solid #ccc;border-top:0px; min-height:254px;*height:254px; height:auto; padding:20px;overflow-x:hidden}
.combigdivcontainer .right .rightbottom .content254px{width:712px; min-height:254px; *height:254px; height:auto;overflow-x:hidden}
/*Invest; EBank; Private*/
/*promotion*/
.promotion{width:723px;margin:0px;margin-bottom:8px;height:772px;padding:0; margin-top:10px}
.promotion .head{margin:0px; height:32px!important;height:32px; vertical-align:middle;background: url(http://www.cmbchina.com/images/main_content_bg.jpg) no-repeat;color:Black;font-weight:bold;}
.promotion .head span{margin-left:45px; float:left;font-size:13px; margin-top:8px;  vertical-align:baseline; }
.promotion .container{ width:721px;height:740px;border:1px solid #cccccc;margin:0px;padding:0;border-top:none; overflow:hidden}
.promotion .content{width:681px; height:662px; margin:20px 20px 0px 20px;}
.promotion .pageinfo{margin:0 auto; width:100%; text-align:center; margin-top:10px}

.sunflowertable a{color:#9A6635;}

#CityDiv
{
	display:none;
	border:solid 1px #b40000; 
	z-index:1000;	
	background-color:#F1F1F1;
	width:280px !important;
	width:275px; 
	position:absolute;	
}

#CityContent
{

	border:0px; 
	width:280px !important;
	width:275px; 
	margin: 0px 5px 5px 0px;
	overflow:hidden;
}

.CityItem
{
	line-height:25px;
	background-color:White;
	float:left;
	text-align:center;	
	width:60px;
	border:solid 1px #ccc;
	color:#333333;
	margin: 6px 0px 0px 6px;
}
A.CityItem:link {text-decoration: none; color:#333333;} 
A.CityItem:visited  {text-decoration: none; color:#333333;} 
A.CityItem:hover {text-decoration: none; color:white;background-color:#c83116;} 

/*			*/
.sub_divcontainer_big {
    margin: 0 auto;
    width: 950px;
}

.sub_divcontainer_big .left {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
    float: left;
    height: auto;
    min-height: 171px;
    width: 209px;
}

.sub_divcontainer_big .right {
    float: left;
    height: auto;
    margin-left: 16px;
    min-height: 171px;
    overflow-x: hidden;
    width: 723px;
}
.NavLinkHeaderBig {
    background: url("http://www.cmbchina.com/Images/NavLinkHeader_big.gif") repeat scroll 0 0 transparent;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    width: 209px;
}
.NavLinkHeaderBig span {
    font-size: 14px;
    margin-left: 45px;
}

.NavLinkContentBig
{
	border-bottom:1px solid #CCCCCC;
}
.NavLinkContentBig .page {
    background: url("http://www.cmbchina.com/Images/page_bg_big.gif") no-repeat scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    width: 209px;
}
.NavLinkContentBig .page_selected {
    background: url("http://www.cmbchina.com/Images/pageselected_bg_big.gif") no-repeat scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    width: 209px;
}
.NavLinkContentBig .directory {
    background: url("http://www.cmbchina.com/Images/directory_bg_big.gif") no-repeat scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 209px;
}
.NavLinkContentBig .directory_selected {
    background: url("http://www.cmbchina.com/Images/directory_hover_bg_big.gif") no-repeat scroll 0 0 transparent;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 209px;
}
.NavLinkContentBig .subpage {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    height: 30px;
    line-height: 30px;
    width: 209px;
}
.NavLinkContentBig .txtspan {
    float: left;
    font-size: 9px;
    line-height: 30px;
    margin-left: 50px;
}

.location_Bar {
    background: url("http://www.cmbchina.com/images/main_content_bg.jpg") repeat scroll 0 0 transparent;
    height: 33px;
    width: 723px;
}

.location_Bar .title {
    color: Black;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-align: left;
    text-indent: 45px;
    width: 700px;
    margin:0;
}

.content_NoBorder {
    margin-top: 8px;
    overflow: hidden;
    width: 723px;
}
.content_NoBorder .content {
    border: 1px solid #CCCCCC;
    height: auto;
    min-height: 100px;
    overflow: hidden;
    width: 721px;
}
.c_list {
    color: #666666;
    height: auto !important;
    margin: 0;
    padding: 0;
}

.c_list li {
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 4px;
    overflow: hidden;
    padding-top: 4px;
    width: 694px !important;
}
.c_title {
    float: left;
}
.c_list .c_date {
    float: right;
}

.content_NoBorder .content .info {
    height: auto;
    margin: 20px;
    min-height: 100px;
    overflow-x: hidden;
    width: 681px;
	display: block;
    font-size: 12px;
}
.content_NoBorder .content .applylink
{
	height:30px;
	line-height:30px;
    width: 681px;
    margin-left:20px;
}

.m_loanapply {
    display: inline;
    float: left;
    min-height: 220px;
    margin-left: 5px;
    margin-top: 8px;
    width: 200px;
}

.m_loancalc {
    display: inline;
    float: left;
    height: 183px;
    margin-left: 5px;
    margin-top: 8px;
    width: 320px;
}

.m_loanrec {
    display: inline;
    float: left;
    min-height: 240px;
    margin-left: 5px;
    margin-top: 8px;
    width: 260px;
}

.m_loanrate {
    display: inline;
    float: left;
    min-height: 240px;
    margin-left: 5px;
    margin-top: 8px;
    width: 260px;
}

.m_con_midline {
    border-left: 1px solid #CCCCCC;
    float: left;
    height: 230px;
    margin-top: 15px;
    width: 1px;
}

.loanapply {
    background: url("http://www.cmbchina.com/Images/buttom.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: White;
    cursor: pointer;
    float: left;
	text-align:center;
    height: 28px;
    margin-top: 6px;
    width: 84px;
}
.calculate {
    background: url("http://www.cmbchina.com/Images/calculate.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: White;
    cursor: pointer;
    float: left;
	text-align:center;
    height: 28px;
    width: 136px;
    margin-right:20px;
}
.apply {
    background: url("http://www.cmbchina.com/Images/apply.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
	text-align:center;
    height: 28px;
    width: 80px;
}

.confirm {
    background: url("http://www.cmbchina.com/Images/confirm.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
	text-align:center;
    height: 28px;
    width: 56px;
    margin-right:20px;
}
.cancel {
    background: url("http://www.cmbchina.com/Images/cancel.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
	text-align:center;
    height: 28px;
    width: 56px;
}
.calctitle
{
	font-weight:bold;
	font-size:14px;
	float:left;
    width: 200px;
    margin:20px 0 8px 15px;
}
.calcone
{
    float: left;
    height: 24px;
    width: 280px;
    margin-top:2px;
}

.calcleft {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 130px;
    color:#696969;
}
.calcright {
    float: left;
    height: 24px;
    line-height: 24px;
    width: 130px;
}

.applylittleone
{
    float: left;
    height: 24px;
    width: 250px;
    margin-top:10px;
}

.applylittleleft {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 60px;
}
.applylittleright {
    float: left;
    height: 24px;
    line-height: 24px;
    width: 120px;
}
.reclittleleft {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 120px;
}
.reclittleright {
    float: left;
    height: 24px;
    line-height: 24px;
    width: 60px;
}

.applyone
{
    float: left;
    height: 24px;
    width: 650px;
    margin-top:10px;
}

.applyone .applyleft {
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: right;
    width: 100px;
}
.applyone .applyright {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: 0 !important;
    width: 150px;
}

.ulcondition {
    line-height: 25px;
}
.ulcondition li {
    float: left;
    height: 25px;
    line-height: 25px;
    margin: 0 3px;
    white-space: nowrap;
}

.midcon_header {
    background: url("http://www.cmbchina.com/Images/Content_bg01.gif") no-repeat scroll 0 0 transparent;
    height: 35px;
    width: 532px;
}
.apply_body {
    background: url("http://www.cmbchina.com/Images/Content_bg02.gif") repeat-y scroll 0 0 transparent;
    height: 250px;
    overflow: hidden;
    width: 532px;
}
.midcon_footer {
    background: url("http://www.cmbchina.com/Images/Content_bg03.gif") no-repeat scroll 0 0 transparent;
    height: 9px;
    overflow: hidden;
    width: 532px;
}
.fin_header {
    color: #BF292A;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
}
.fin_header span {
    background: url("http://www.cmbchina.com/Images/homebg1.gif") no-repeat scroll 0 -211px transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 9px;
    padding-left: 21px;
}

.RateTable {
    border-collapse: collapse;
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 220px;
    margin-left:15px;
}

.RateTable th {
    background-color: #F5F5F5;
    border: 1px solid #808080;
    height: 24px;
    line-height: 24px;
}
.RateTable td {
    border: 1px solid #808080;
    height: 24px;
    line-height: 24px;
}
.RateTable .alteritem
{
    background-color: #F0F8FF;
}
.gridtitle
{
	text-align:left;
	text-indent:10px;
}

.NewInfoContent
{
	width:466;
	float:left;
	margin:0;
}

.NewInfoContent .newinfopage {
    height: 30px;
    line-height: 30px;
    width: 155px;
    float:left;
}
.NewInfoContent .newinfotxtspan {
    float: left;
    font-size: 9px;
    line-height: 30px;
}

.c_curmenu {
    background: url("http://www.cmbchina.com/images/main_invest_focus_long.gif") no-repeat scroll 0 0 transparent;
    color: #CD0000;
    margin: 0;
    text-align: center;
    width: 118px;
}

.c_menu {
    margin: 0;
    text-align: center;
    width: 118px;
}

.c_part {
    float: left;
    min-height: 120px;
    margin: 0;
    overflow: hidden;
    width: 240px;
}
.c_left {
    float: left;
    height: 24px;
    line-height: 24px;
    text-align: right;
    width: 108px;
}
.c_one
{
	width:100%;
	float:left;
	color: #666666;
}

.c_right {
    float: left;
    height: 24px;
    line-height: 24px;
    width: 116px;
}

.c_button {
    background: url("http://www.cmbchina.com/Images/button-02.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: red;
    cursor: pointer;
    float: left;
    height: 28px;
    text-align: center;
    width: 57px;
}

.cal_head {
    background: url("http://www.cmbchina.com/images/main_content_bg.jpg") no-repeat scroll -1px 0 transparent;
    color: #666666;
    font-weight: bold;
    height: 33px !important;
    margin: 0 auto;
    vertical-align: middle;
    width:707px;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
}
.cal_head span {
    float: left;
    font-size: 14px;
    margin-left: 45px;
    margin-top: 8px;
    vertical-align: baseline;
}

.c_notice_head {
    height: 19px;
    margin-left: 7px;
    margin-top: 10px;
}
.c_notice_head h2 {
    background: url("http://www.cmbchina.com/images/arrow_06.gif") no-repeat scroll 0 5px transparent;
    float: left;
    margin: 0;
    width: 200px;
}
.c_notice_head span {
    color: #676767;
    font-size: 14px;
    margin-left: 14px;
}
.c_midline {
    border-left: 1px solid #CCCCCC;
    float: left;
    height: 132px;
    margin-top: 15px;
    width: 1px;
}
.c_chtit
{
    background: url("http://www.cmbchina.com/images/reptitle.png") repeat-x scroll 0 0 transparent;
    width: 225px;
    height:22px;
    float:left;
    margin-left: 7px;
    color: #666666;
}
.c_chpart {
    float: left;
    min-height: 63px;
    margin: 0;
    overflow: hidden;
    width: 225px;
    background-color:#F5F5F5;
}
.c_container
{ 
	width:721px;
	min-height:588px;
	float:left;
	border:1px solid #cccccc;
	margin:0px;
	padding:0;
	border-top:none;
}
.c_menu_right
{
	float:left;
	width:356px;
	background: url(http://www.cmbchina.com/images/main_finance_end.jpg) no-repeat right;
}

.datalisttable {
    border: 1px solid #CCCCCC;
    border-top:none;
    border-collapse: collapse;
    color: #555555;
    width: 100%;
}

.datalisttable .alteritem {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-top:none;
    border-bottom:none;
    height:24px;
}
.datalisttable tr {
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-top:none;
    border-bottom:none;
    height:24px;
}
.datalisttitle
{
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
	width:709px;
	height:28px;
	background-color:#D9D9D9;
	color:#555555; 
	text-align:center;
}
.calc_btn
{
	background: url("http://www.cmbchina.com/Images/calc_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: White;
    cursor: pointer;
    float: left;
    height: 21px;
    line-height:21px;
    margin-left: 6px;
    text-align: left;
    text-indent:6px;
    width: 85px;
}

/*个人主页个性化推荐产品*/
.personalreco_con .loading{text-align:center; padding-top:65px;}
.personalreco_con .loading img{width:32px; height:32px;}
.personalreco_con a{ outline: medium none; text-decoration:none;}
.personalreco_con .leftpic{width: 110px; float: left; height: 160px;}
.personalreco_con .leftpic img{ border:0px none; width:110px; height:160px;}
.personalreco_con .righttxt{width: 230px; float: left; height: 160px; margin-left: 10px;}
.personalreco_con .righttxt .title{ float:left; height: 25px; line-height:25px; font-size: 14px; font-weight: bold; padding-left:7px; background:url("http://www.cmbchina.com/Images/arrow_red.jpg") no-repeat scroll 0 50% transparent;}
.personalreco_con .righttxt .describe{ float:left; width: 230px; height: 135px; line-height: 20px; font-size:14px;}