body {
	margin: 0px; color: rgb(51, 51, 51); line-height: 20px; font-family: ו; font-size: 12px;
}
* {
	font-size: 12px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	list-style: none; margin: 0px; padding: 0px;
}
#FooterNav {
	background: url("../images/bottom_bg.gif") rgb(98, 98, 98); width: 950px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px;
}
#FooterNav ul {
	list-style: none; margin: 0px;
}
#FooterNav li {
	color: rgb(255, 255, 255); line-height: 30px; margin-right: 4px; margin-left: 4px; float: left;
}
#FooterNav li a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
#FooterNav li a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
#FooterNav li a:hover {
	color: red; text-decoration: none;
}
.appd_wrap_pop {
	left: 0px; width: 100%; height: 210px; bottom: 0px; overflow: hidden; display: block; position: fixed; z-index: 99998;
}
.appd_wrap_pop_cnt {
	background: url("../images/bg_mask.png") repeat-x 0px -18px; left: 0px; width: 100%; bottom: 0px; position: absolute; _background: #451010;
}
.appd_wrap_pop_box {
	margin: 0px auto; left: 0px; width: 1000px; height: 188px; bottom: 0px; color: rgb(51, 51, 51); position: relative; z-index: 1;
}
.appd_wrap_pop .appd_wrap_close {
	font: 18px/normal ו; outline: 0px; top: 30px; right: 0px; color: rgb(255, 255, 255); position: absolute; font-size-adjust: none; font-stretch: normal; opacity: 0.8; -moz-opacity: 0.8;
}
.appd_wrap_pop .appd_wrap_close span {
	font-size: 18px;
}
.appd_wrap_pop_pic {
	background: no-repeat center; left: 0px; top: -22px; width: 930px; height: 210px; position: absolute;
}
.appd_wrap_open {
	left: 0px; width: 54px; height: 104px; bottom: 90px; overflow: hidden; display: none; position: fixed; z-index: 99999; _position: absolute;
}
.appd_wrap_open_cnt {
	background: url("../images/bg_open.gif"); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; _background: url(../images/bg_open.gif) no-repeat;
}
