body {
	margin: 0px; line-height: 20px; font-family: ����; font-size: 12px;
}
a.red:link {
	color: red; text-decoration: underline;
}
a.red:visited {
	color: red; text-decoration: underline;
}
a.red:hover {
	color: red; text-decoration: underline;
}
a.navlink:link {
	color: rgb(51, 51, 51); text-decoration: underline;
}
a.navlink:visited {
	color: rgb(51, 51, 51); text-decoration: underline;
}
a.navlink:hover {
	color: red; text-decoration: underline;
}
.DivContainer {
	margin: 0px auto; width: 950px;
}
.DivLeft {
	width: 723px; float: left;
}
.DivRight {
	width: 209px; margin-left: 18px; float: left;
}
.DivBottom {
	margin: 0px auto; width: 950px; clear: both;
}
.u_safttip_con {
	width: 209px; margin-top: -8px; margin-bottom: 8px;
}
.u_favshop {
	margin: 0px 0px 8px; width: 209px;
}
.u_favshop_head {
	background: url("http://www.cmbchina.com/images/favshophead.jpg") no-repeat; margin: 0px; width: 209px; height: 31px;
}
.u_favshop_con {
	border: 1px solid rgb(204, 204, 204); border-image: none; height: 160px;
}
.u_favshop_con .u_favshop_center {
	text-align: center; clear: both;
}
.u_favshop_con ul {
	text-align: left; margin-top: 15px; margin-left: 20px;
}
.u_favshop_con ul li {
	height: 35px;
}
.filtershop {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(166, 166, 166) currentColor rgb(166, 166, 166) rgb(166, 166, 166); border-image: none; width: 140px; height: 23px; line-height: 23px; font-size: 14px; float: left;
}
.filterarea {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(166, 166, 166) currentColor rgb(166, 166, 166) rgb(166, 166, 166); border-image: none; width: 140px; height: 23px; line-height: 23px; font-size: 14px; float: left;
}
.filterkeyword {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(166, 166, 166) currentColor rgb(166, 166, 166) rgb(166, 166, 166); border-image: none; width: 119px; height: 21px; line-height: 21px; font-size: 14px; float: left;
}
.btnconfirm {
	border: 1px solid rgb(166, 166, 166); border-image: none; width: 46px; height: 23px; text-align: center; color: white; line-height: 23px; font-size: 14px; float: left; display: block; background-color: rgb(203, 0, 0);
}
.btnArr {
	margin: 0px; width: 28px; height: 25px; float: left; display: block; background-image: url("http://www.cmbchina.com/images/downlist.gif");
}
.u_favshop_con ul a:link {
	text-decoration: none;
}
.u_favshop_con ul a:visited {
	text-decoration: none;
}
.u_favshop_con ul a:hover {
	text-decoration: none;
}
.NavLink {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 721px; height: 28px; margin-bottom: 4px; background-color: rgb(241, 241, 241);
}
.NavLinkCon {
	width: 685px; height: 28px; color: rgb(105, 105, 105); line-height: 28px; margin-left: 30px;
}
.NavLink a:link {
	color: rgb(105, 105, 105); text-decoration: none;
}
.NavLink a:visited {
	color: rgb(105, 105, 105); text-decoration: none;
}
.NavLink a:hover {
	text-decoration: none;
}
.newactivity {
	margin: 10px 0px 0px; padding: 0px; width: 723px; height: 228px !important; clear: both;
}
.newactivity_head {
	background: url("http://www.cmbchina.com/images/main_content_bg_2dot.gif") no-repeat; margin: 0px; height: 33px !important; color: black; font-weight: bold; vertical-align: middle;
}
.newactivity_head #spanleft {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.newactivity_head #spanright {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-right: 225px; vertical-align: baseline; float: right;
}
.newactivity_container {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); margin: 0px; border-image: none; width: 721px; height: 196px;
}
.newactivity_container .left {
	width: 368px; height: 160px; margin-top: 15px; margin-left: 20px !important; float: left;
}
.newactivity_container .right {
	width: 293px; height: 160px; margin-top: 15px; margin-left: 27px; float: left;
}
.newactivity_container .right a:link {
	text-decoration: none;
}
.newactivity_container .right a:visited {
	text-decoration: none;
}
.newactivity_container .right a:hover {
	text-decoration: none;
}
.u_mid {
	margin: 10px 0px 0px; padding: 0px; width: 723px; height: 228px;
}
.u_mid_head {
	background: url("http://www.cmbchina.com/images/main_content_bg.jpg") no-repeat; margin: 0px; height: 33px !important; color: black; font-weight: bold; vertical-align: middle;
}
.u_mid_head span {
	font-size: 14px; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.u_mid_container {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); margin: 0px; padding: 0px; border-image: none; width: 721px; height: 196px;
}
.u_mid_spacer {
	height: 140px; margin-top: 20px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.u_mid_con_left {
	width: 388px; height: 196px; float: left;
}
.u_mid_left_info {
	width: 330px; height: 150px; margin-top: 20px; margin-left: 20px;
}
.u_mid_con_left .btnmore {
	width: 49px; height: 19px; padding-right: 40px; float: right;
}
.u_card_left_info {
	width: 330px; height: 133px; margin-top: 30px; margin-left: 30px;
}
.u_mid_con_right {
	width: 330px; height: 196px; float: left;
}
.u_mid_con_right .btnmore {
	width: 49px; height: 19px; padding-right: 20px; float: right;
}
.u_mid_right_info {
	width: 315px; height: 160px; margin-top: 15px; margin-left: 15px;
}
.sun_mid_con_left {
	width: 387px; height: 193px; float: left;
}
.sun_mid_spacer {
	background: url("http://www.cmbchina.com/images/sun_split.gif") no-repeat; width: 1px; height: 140px; margin-top: 20px; float: left;
}
.sun_mid_con_right {
	width: 330px; height: 193px; float: left;
}
.sun_mid_container {
	margin: 0px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 721px; height: auto !important; min-height: 350px;
}
.sun_mid_content {
	margin: 15px; height: auto !important; min-height: 350px;
}
.sun_u_mid {
	margin: 10px 0px 8px; padding: 0px; width: 723px; height: auto !important; min-height: 385px;
}
.singlecard {
	width: 275px; height: 97px; padding-left: 4px; float: left;
}
.picA {
	width: 160px; height: 97px; float: left;
}
.txtA {
	width: 110px; height: 97px; padding-left: 5px; float: left;
}
.cardDiv {
	margin: 0px 10px; width: 277px; height: 97px; overflow: hidden; float: left;
}
.cardscrollDiv {
	width: 2008px;
}
#List1 {
	float: left;
}
#List2 {
	float: left;
}
.rightdivItem {
	width: 315px; height: 57px; clear: both;
}
.rightdivItem .left {
	width: 75px; height: 57px; font-size: 14px; font-weight: bold; float: left;
}
.rightdivItem .right {
	width: 240px; height: 57px; float: left;
}
.rightdivItem .right li {
	width: 80px; height: 25px; float: left;
}
.vip_mid_left_info {
	width: 360px; height: 140px; margin-top: 20px; margin-left: 20px;
}
.vip_mid_right_info {
	width: 300px; height: 160px; margin-top: 20px; margin-left: 20px;
}
.False {
	border: 0px currentColor; border-image: none; line-height: 24px; margin-top: 7px; display: none;
}
.True {
	border: 0px currentColor; border-image: none; line-height: 24px; margin-top: 7px; display: inline-block;
}
#specsale {
	margin: 0px 0px 0px 10px; height: auto; min-height: 110px;
}
#specsale a:link {
	text-decoration: none;
}
#specsale a:visited {
	text-decoration: none;
}
#specsale a:hover {
	text-decoration: none;
}
.repsaleli {
	width: 100%; height: 24px; line-height: 24px; float: left; display: block;
}
.morebtn {
	border: 0px currentColor; border-image: none; width: 49px; height: 19px; vertical-align: middle;
}
.bottom_con_column .bottom_con_title_s {
	background: url("http://www.cmbchina.com/images/arrow.jpg") no-repeat 0px 3px; width: 90%; font-size: 12px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.repeaterli {
	width: 100%; height: 24px; line-height: 24px; float: left; display: block;
}
.repeaterli a.red:link {
	color: red; text-decoration: none;
}
.repeaterli a.red:visited {
	color: red; text-decoration: none;
}
.repeaterli a.red:hover {
	color: red; text-decoration: none;
}
.repeaterli a.gray:link {
	text-decoration: none;
}
.repeaterli a.gray:visited {
	text-decoration: none;
}
.repeaterli a.gray:hover {
	text-decoration: none;
}
.repeaterli .fundcodetitle {
	padding: 0px; width: 120px; height: 24px; text-align: center; overflow: hidden; vertical-align: bottom; float: left; white-space: nowrap;
}
.repeaterli .fundnametitle {
	padding: 0px; width: 120px; height: 24px; text-align: center; overflow: hidden; vertical-align: bottom; float: left; white-space: nowrap;
}
.repeaterli .fundcode {
	padding: 0px; width: 120px; height: 24px; text-align: center; overflow: hidden; vertical-align: bottom; float: left; white-space: nowrap;
}
.repeaterli .fundname {
	padding: 0px; width: 120px; height: 24px; text-align: center; overflow: hidden; vertical-align: bottom; float: left; white-space: nowrap;
}
.leftbottomright .fin {
	margin-top: 10px;
}
.fund {
	margin-top: 10px;
}
.img0 {
	border: 0px currentColor; border-image: none; line-height: 24px; margin-top: 7px; display: none;
}
.img1 {
	border: 0px currentColor; border-image: none; line-height: 24px; margin-top: 7px; display: inline-block;
}
.listItem {
	padding-left: 20px;
}
.whqq_display {
	margin: 20px 0px; width: 680px; height: auto !important; min-height: 200px;
}
.sub_divcontainer {
	margin: 0px auto; width: 950px;
}
.sub_divcontainer .right a:link {
	color: blue; text-decoration: underline;
}
.sub_divcontainer .right a:visited {
	color: blue; text-decoration: underline;
}
.sub_divcontainer .right a:hover {
	color: blue; text-decoration: underline;
}
.sub_divcontainer .left {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 184px; height: auto; float: left; min-height: 171px;
}
.sub_divcontainer .right {
	width: 754px; height: auto; margin-left: 8px; float: left; -ms-overflow-x: hidden; min-height: 171px;
}
.sub_divcontainer .right .header {
	background: url("http://www.cmbchina.com/images/header.gif"); width: 754px; height: 33px;
}
.sub_divcontainer .right .header span {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.sub_divcontainer .right .content {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 752px; height: auto; -ms-overflow-x: hidden; min-height: 100px;
}
.sub_divcontainer .right .content .info {
	margin: 20px; width: 712px; height: auto; -ms-overflow-x: hidden; min-height: 100px;
}
.sub_divcontainer_big {
	margin: 0px auto; width: 950px;
}
.sub_divcontainer_big .right a:link {
	color: blue; text-decoration: underline;
}
.sub_divcontainer_big .right a:visited {
	color: blue; text-decoration: underline;
}
.sub_divcontainer_big .right a:hover {
	color: blue; text-decoration: underline;
}
.sub_divcontainer_big .left {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 209px; height: auto; float: left; min-height: 171px;
}
.sub_divcontainer_big .right {
	width: 723px; height: auto; margin-left: 16px; float: left; -ms-overflow-x: hidden; min-height: 171px;
}
.sub_divcontainer_big .right .header {
	background: url("http://www.cmbchina.com/images/main_content_bg.jpg"); width: 723px; height: 33px;
}
.sub_divcontainer_big .right .header span {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.sub_divcontainer_big .right .content {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 721px; height: auto; -ms-overflow-x: hidden; min-height: 100px;
}
.sub_divcontainer_big .right .content .info {
	margin: 20px; width: 681px; height: auto; -ms-overflow-x: hidden; min-height: 120px;
}
.sub_divcontainer_big .right .gray12 {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: bold;
}
.sub_divcontainer_big .right a.gray12:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right a.gray12:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right a.gray12:hover {
	color: red; text-decoration: none;
}
.sub_divcontainer_big .right .dirhead {
	margin: 0px 0px 5px 5px !important; width: 90%; float: left;
}
.sub_divcontainer_big .right .pages {
	margin: 5px 0px 5px 20px; padding: 1px;
}
.sub_divcontainer_big .right .pages a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right .pages a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right .pages a:hover {
	color: red; text-decoration: none;
}
.sub_divcontainer_big .right .pageitem {
	width: 155px; height: 24px; line-height: 24px; float: left; display: block;
}
.sub_divcontainer_big .right .divspacer {
	width: 100%; height: 10px; margin-top: 3px !important; float: left; background-image: url("http://www.cmbchina.com/images/whqq_bg_line.gif"); background-repeat: repeat-x;
}
.sub_divcontainer_big table .nonselect {
	color: black; line-height: 22px; font-size: 12px;
}
.selected {
	color: black; line-height: 22px; font-size: 12px;
}
.sub_divcontainer_big table .mid {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.sub_divcontainer_big table .wwli {
	width: 100%; height: 15px; line-height: 15px; float: left; display: block;
}
.sub_divcontainer_big table .wwspacer {
	width: 100%; height: 10px; margin-top: 3px !important; background-image: url("http://www.cmbchina.com/images/whqq_bg_line.gif"); background-repeat: repeat-x;
}
.sub_divcontainer_big table a.nonselect:link {
	color: black; text-decoration: none;
}
.sub_divcontainer_big table a.nonselect:visited {
	color: black; text-decoration: none;
}
.sub_divcontainer_big table a.nonselect:hover {
	color: red; text-decoration: none;
}
.sub_divcontainer_big table a.selected:link {
	color: red; text-decoration: none;
}
.sub_divcontainer_big table a.selected:visited {
	color: red; text-decoration: none;
}
.sub_divcontainer_big table a.selected:hover {
	color: red; text-decoration: none;
}
.sub_divcontainer_big .right .righttop {
	overflow: hidden;
}
.sub_divcontainer_big .right .rightbottom {
	height: auto; margin-top: 8px;
}
.sub_divcontainer_big .right .rightbottom .invest {
	margin: 0px auto; width: 355px; height: auto; float: left;
}
.sub_divcontainer_big .right .rightbottom .investright {
	margin: 0px auto 0px 13px; width: 355px; height: auto; float: left;
}
.sub_divcontainer_big .right .rightbottom .headinvest {
	background: url("http://www.cmbchina.com/images/header370.gif") no-repeat; margin: 0px; width: 355px; height: 32px;
}
.sub_divcontainer_big .right .rightbottom .headinvest span {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; float: left;
}
.sub_divcontainer_big .right .rightbottom .containerinvest {
	margin: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 353px; height: 160px;
}
.sub_divcontainer_big .right .rightbottom .contentinvest {
	margin: 20px auto 0px; width: 323px; height: 130px; overflow: hidden;
}
.sub_divcontainer_big .right .rightbottom a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right .rightbottom a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.sub_divcontainer_big .right .rightbottom a:hover {
	color: red; text-decoration: none;
}
.comdivcontainer {
	margin: 0px auto; width: 950px;
}
.comdivcontainer .left {
	width: 723px; height: auto; float: left;
}
.comdivcontainer .right {
	width: 209px; margin-bottom: 10px; margin-left: 18px; float: left;
}
.comdivcontainer .left .lefttop {
	overflow: hidden;
}
.comdivcontainer .left .leftbottom {
	margin-top: 8px;
}
.comdivcontainer .left .leftbottom .leftbottomleft {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; float: left; min-height: 386px;
}
.comdivcontainer .left .leftbottom .leftbottomright {
	height: auto; margin-left: 8px; float: left; min-height: 100px;
}
.comdivcontainer .left .leftbottom .leftbottomright .comdiv {
	margin: 0px auto; width: 529px; height: auto;
}
.comdivcontainer .left .leftbottom .leftbottomright .head {
	background: url("http://www.cmbchina.com/images/content_bg.gif") no-repeat; margin: 0px; width: 529px; height: 33px;
}
.comdivcontainer .left .leftbottom .leftbottomright .head span {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; float: left;
}
.comdivcontainer .left .leftbottom .leftbottomright .container {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 0px; border-image: none; width: 536px; height: auto; min-height: 100px;
}
.comdivcontainer .left .leftbottom .leftbottomright .loancontainer {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 14px 20px; border-image: none; width: 487px; height: auto; min-height: 50px;
}
.comdivcontainer .left .leftbottom .leftbottomright .loancontent {
	width: 487px; height: auto; min-height: 50px;
}
.comdivcontainer .left .leftbottom .leftbottomright .content {
	width: 487px; height: auto; min-height: 100px;
}
.comdivcontainer .left .leftbottom .leftbottomright .container520px {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 20px; border-image: none; width: 487px; height: auto !important; min-height: 520px;
}
.comdivcontainer .left .leftbottom .leftbottomright .content520px {
	width: 487px; height: auto !important; -ms-overflow-x: hidden; min-height: 520px;
}
.title {
	margin: 4px 0px 2px; height: auto; font-size: 12px; font-weight: bold; display: block;
}
.info {
	margin: 2px 0px 2px 14px; font-size: 12px; display: block;
}
.lispacer {
	width: 100%; height: 15px; line-height: 15px; float: left;
}
.divspacer {
	width: 100%; height: 10px; margin-top: 3px !important; background-image: url("http://www.cmbchina.com/images/whqq_bg_line.gif"); background-repeat: repeat-x;
}
.combigdivcontainer {
	margin: 0px auto; width: 950px;
}
.combigdivcontainer .left {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 184px; margin-bottom: 10px; float: left; min-height: 504px;
}
.combigdivcontainer .right {
	width: 754px; height: auto; margin-bottom: 10px; margin-left: 8px; float: left;
}
.combigdivcontainer .right .righttop {
	overflow: hidden;
}
.combigdivcontainer .right .rightbottom {
	height: auto; margin-top: 8px;
}
.combigdivcontainer .right .rightbottom .comdiv {
	margin: 0px auto; width: 754px; height: auto;
}
.combigdivcontainer .right .rightbottom .head {
	background: url("http://www.cmbchina.com/images/header.gif") no-repeat; margin: 0px; width: 754px; height: 33px;
}
.combigdivcontainer .right .rightbottom .head span {
	color: black; font-size: 14px; font-weight: bold; margin-top: 8px; margin-left: 45px; float: left;
}
.combigdivcontainer .right .rightbottom .container {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 20px; border-image: none; width: 712px; height: auto !important; min-height: 80px;
}
.combigdivcontainer .right .rightbottom .content {
	width: 712px; height: auto !important; min-height: 80px;
}
.combigdivcontainer .right .rightbottom .container254px {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 20px; border-image: none; width: 712px; height: auto; -ms-overflow-x: hidden; min-height: 254px;
}
.combigdivcontainer .right .rightbottom .content254px {
	width: 712px; height: auto; -ms-overflow-x: hidden; min-height: 254px;
}
.promotion {
	margin: 10px 0px 8px; padding: 0px; width: 723px; height: 772px;
}
.promotion .head {
	background: url("http://www.cmbchina.com/images/main_content_bg.jpg") no-repeat; margin: 0px; height: 32px !important; color: black; font-weight: bold; vertical-align: middle;
}
.promotion .head span {
	font-size: 13px; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.promotion .container {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); margin: 0px; padding: 0px; border-image: none; width: 721px; height: 740px; overflow: hidden;
}
.promotion .content {
	margin: 20px 20px 0px; width: 681px; height: 662px;
}
.promotion .pageinfo {
	margin: 10px auto 0px; width: 100%; text-align: center;
}
.sunflowertable a {
	color: rgb(154, 102, 53);
}
#CityDiv {
	border: 1px solid rgb(180, 0, 0); border-image: none; width: 280px !important; display: none; position: absolute; z-index: 1000; background-color: rgb(241, 241, 241);
}
#CityContent {
	margin: 0px 5px 5px 0px; border: 0px currentColor; border-image: none; width: 280px !important; overflow: hidden;
}
.CityItem {
	margin: 6px 0px 0px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 60px; text-align: center; color: rgb(51, 51, 51); line-height: 25px; float: left; background-color: white;
}
a.CityItem:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
a.CityItem:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
a.CityItem:hover {
	color: white; text-decoration: none; background-color: rgb(200, 49, 22);
}
.sub_divcontainer_big {
	margin: 0px auto; width: 950px;
}
.sub_divcontainer_big .left {
	width: 209px; height: auto; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; float: left; min-height: 171px;
}
.sub_divcontainer_big .right {
	width: 723px; height: auto; margin-left: 16px; float: left; -ms-overflow-x: hidden; min-height: 171px;
}
.NavLinkHeaderBig {
	background: url("http://www.cmbchina.com/Images/NavLinkHeader_big.gif") 0px 0px; width: 209px; height: 28px; line-height: 28px; font-weight: bold;
}
.NavLinkHeaderBig span {
	font-size: 14px; margin-left: 45px;
}
.NavLinkContentBig {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.NavLinkContentBig .page {
	background: url("http://www.cmbchina.com/Images/page_bg_big.gif") no-repeat 0px 0px; width: 209px; height: 30px; line-height: 30px;
}
.NavLinkContentBig .page_selected {
	background: url("http://www.cmbchina.com/Images/pageselected_bg_big.gif") no-repeat 0px 0px; width: 209px; height: 30px; line-height: 30px;
}
.NavLinkContentBig .directory {
	background: url("http://www.cmbchina.com/Images/directory_bg_big.gif") no-repeat 0px 0px; width: 209px; height: 30px; line-height: 30px; overflow: hidden;
}
.NavLinkContentBig .directory_selected {
	background: url("http://www.cmbchina.com/Images/directory_hover_bg_big.gif") no-repeat 0px 0px; width: 209px; height: 30px; line-height: 30px; overflow: hidden;
}
.NavLinkContentBig .subpage {
	width: 209px; height: 30px; line-height: 30px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.NavLinkContentBig .txtspan {
	line-height: 30px; font-size: 9px; margin-left: 50px; float: left;
}
.location_Bar {
	background: url("http://www.cmbchina.com/images/main_content_bg.jpg") 0px 0px; width: 723px; height: 33px;
}
.location_Bar .title {
	margin: 0px; width: 700px; height: 33px; text-align: left; color: black; line-height: 33px; text-indent: 45px; font-size: 14px; font-weight: bold; float: left; display: inline;
}
.content_NoBorder {
	width: 723px; overflow: hidden; margin-top: 8px;
}
.content_NoBorder .content {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 721px; height: auto; overflow: hidden; min-height: 100px;
}
.c_list {
	margin: 0px; padding: 0px; height: auto !important; color: rgb(102, 102, 102);
}
.c_list li {
	width: 694px !important; line-height: 24px; overflow: hidden; padding-top: 4px; clear: both; margin-top: 4px; margin-left: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.c_title {
	float: left;
}
.c_list .c_date {
	float: right;
}
.content_NoBorder .content .info {
	margin: 20px; width: 681px; height: auto; font-size: 12px; display: block; -ms-overflow-x: hidden; min-height: 100px;
}
.content_NoBorder .content .applylink {
	width: 681px; height: 30px; line-height: 30px; margin-left: 20px;
}
.m_loanapply {
	width: 200px; margin-top: 8px; margin-left: 5px; float: left; display: inline; min-height: 220px;
}
.m_loancalc {
	width: 320px; height: 183px; margin-top: 8px; margin-left: 5px; float: left; display: inline;
}
.m_loanrec {
	width: 260px; margin-top: 8px; margin-left: 5px; float: left; display: inline; min-height: 240px;
}
.m_loanrate {
	width: 260px; margin-top: 8px; margin-left: 5px; float: left; display: inline; min-height: 240px;
}
.m_con_midline {
	width: 1px; height: 230px; margin-top: 15px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left;
}
.loanapply {
	background: url("http://www.cmbchina.com/Images/buttom.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 84px; height: 28px; text-align: center; color: white; margin-top: 6px; float: left; cursor: pointer;
}
.calculate {
	background: url("http://www.cmbchina.com/Images/calculate.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 136px; height: 28px; text-align: center; color: white; margin-right: 20px; float: left; cursor: pointer;
}
.apply {
	background: url("http://www.cmbchina.com/Images/apply.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 80px; height: 28px; text-align: center; float: left; cursor: pointer;
}
.confirm {
	background: url("http://www.cmbchina.com/Images/confirm.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 56px; height: 28px; text-align: center; margin-right: 20px; float: left; cursor: pointer;
}
.cancel {
	background: url("http://www.cmbchina.com/Images/cancel.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 56px; height: 28px; text-align: center; float: left; cursor: pointer;
}
.calctitle {
	margin: 20px 0px 8px 15px; width: 200px; font-size: 14px; font-weight: bold; float: left;
}
.calcone {
	width: 280px; height: 24px; margin-top: 2px; float: left;
}
.calcleft {
	width: 130px; height: 24px; text-align: right; color: rgb(105, 105, 105); line-height: 24px; float: left;
}
.calcright {
	width: 130px; height: 24px; line-height: 24px; float: left;
}
.applylittleone {
	width: 250px; height: 24px; margin-top: 10px; float: left;
}
.applylittleleft {
	width: 60px; height: 24px; text-align: right; line-height: 24px; float: left;
}
.applylittleright {
	width: 120px; height: 24px; line-height: 24px; float: left;
}
.reclittleleft {
	width: 120px; height: 24px; text-align: right; line-height: 24px; float: left;
}
.reclittleright {
	width: 60px; height: 24px; line-height: 24px; float: left;
}
.applyone {
	width: 650px; height: 24px; margin-top: 10px; float: left;
}
.applyone .applyleft {
	width: 100px; height: 28px; text-align: right; line-height: 28px; float: left;
}
.applyone .applyright {
	width: 150px; height: 28px; line-height: 28px; margin-left: 0px !important; float: left;
}
.ulcondition {
	line-height: 25px;
}
.ulcondition li {
	margin: 0px 3px; height: 25px; line-height: 25px; float: left; white-space: nowrap;
}
.midcon_header {
	background: url("http://www.cmbchina.com/Images/Content_bg01.gif") no-repeat 0px 0px; width: 532px; height: 35px;
}
.apply_body {
	background: url("http://www.cmbchina.com/Images/Content_bg02.gif") repeat-y 0px 0px; width: 532px; height: 250px; overflow: hidden;
}
.midcon_footer {
	background: url("http://www.cmbchina.com/Images/Content_bg03.gif") no-repeat 0px 0px; width: 532px; height: 9px; overflow: hidden;
}
.fin_header {
	height: 24px; color: rgb(191, 41, 42); line-height: 24px; margin-top: 8px; float: left;
}
.fin_header span {
	background: url("http://www.cmbchina.com/Images/homebg1.gif") no-repeat 0px -211px; margin: 9px; padding-left: 21px; font-size: 15px; font-weight: bold;
}
.RateTable {
	margin: 0px 0px 0px 15px; padding: 0px; width: 220px; text-align: center; font-family: Arial; border-collapse: collapse;
}
.RateTable th {
	border: 1px solid rgb(128, 128, 128); border-image: none; height: 24px; line-height: 24px; background-color: rgb(245, 245, 245);
}
.RateTable td {
	border: 1px solid rgb(128, 128, 128); border-image: none; height: 24px; line-height: 24px;
}
.RateTable .alteritem {
	background-color: rgb(240, 248, 255);
}
.gridtitle {
	text-align: left; text-indent: 10px;
}
.NewInfoContent {
	margin: 0px; float: left;
}
.NewInfoContent .newinfopage {
	width: 155px; height: 30px; line-height: 30px; float: left;
}
.NewInfoContent .newinfotxtspan {
	line-height: 30px; font-size: 9px; float: left;
}
.c_curmenu {
	background: url("http://www.cmbchina.com/images/main_invest_focus_long.gif") no-repeat 0px 0px; margin: 0px; width: 118px; text-align: center; color: rgb(205, 0, 0);
}
.c_menu {
	margin: 0px; width: 118px; text-align: center;
}
.c_part {
	margin: 0px; width: 240px; overflow: hidden; float: left; min-height: 120px;
}
.c_left {
	width: 108px; height: 24px; text-align: right; line-height: 24px; float: left;
}
.c_one {
	width: 100%; color: rgb(102, 102, 102); float: left;
}
.c_right {
	width: 116px; height: 24px; line-height: 24px; float: left;
}
.c_button {
	background: url("http://www.cmbchina.com/Images/button-02.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 57px; height: 28px; text-align: center; color: red; float: left; cursor: pointer;
}
.cal_head {
	background: url("http://www.cmbchina.com/images/main_content_bg.jpg") no-repeat -1px 0px; margin: 0px auto; width: 707px; height: 33px !important; color: rgb(102, 102, 102); font-weight: bold; vertical-align: middle; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.cal_head span {
	font-size: 14px; margin-top: 8px; margin-left: 45px; vertical-align: baseline; float: left;
}
.c_notice_head {
	height: 19px; margin-top: 10px; margin-left: 7px;
}
.c_notice_head h2 {
	background: url("http://www.cmbchina.com/images/arrow_06.gif") no-repeat 0px 5px; margin: 0px; width: 200px; float: left;
}
.c_notice_head span {
	color: rgb(103, 103, 103); font-size: 14px; margin-left: 14px;
}
.c_midline {
	width: 1px; height: 132px; margin-top: 15px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left;
}
.c_chtit {
	background: url("http://www.cmbchina.com/images/reptitle.png") repeat-x 0px 0px; width: 225px; height: 22px; color: rgb(102, 102, 102); margin-left: 7px; float: left;
}
.c_chpart {
	margin: 0px; width: 225px; overflow: hidden; float: left; min-height: 63px; background-color: rgb(245, 245, 245);
}
.c_container {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); margin: 0px; padding: 0px; border-image: none; width: 721px; float: left; min-height: 588px;
}
.c_menu_right {
	background: url("http://www.cmbchina.com/images/main_finance_end.jpg") no-repeat right; width: 356px; float: left;
}
.datalisttable {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; width: 100%; color: rgb(85, 85, 85); border-collapse: collapse;
}
.datalisttable .alteritem {
	border-width: medium 1px; border-style: none solid; border-color: currentColor rgb(204, 204, 204); border-image: none; height: 24px; background-color: rgb(244, 244, 244);
}
.datalisttable tr {
	border-width: medium 1px; border-style: none solid; border-color: currentColor rgb(204, 204, 204); border-image: none; height: 24px; background-color: rgb(255, 255, 255);
}
.datalisttitle {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 709px; height: 28px; text-align: center; color: rgb(85, 85, 85); border-collapse: collapse; background-color: rgb(217, 217, 217);
}
.calc_btn {
	background: url("http://www.cmbchina.com/Images/calc_btn.png") no-repeat 0px 0px; border: currentColor; border-image: none; width: 85px; height: 21px; text-align: left; color: white; line-height: 21px; text-indent: 6px; margin-left: 6px; float: left; cursor: pointer;
}
.personalreco_con .loading {
	text-align: center; padding-top: 65px;
}
.personalreco_con .loading img {
	width: 32px; height: 32px;
}
.personalreco_con a {
	text-decoration: none;
}
.personalreco_con .leftpic {
	width: 110px; height: 160px; float: left;
}
.personalreco_con .leftpic img {
	border: 0px currentColor; border-image: none; width: 110px; height: 160px;
}
.personalreco_con .righttxt {
	width: 230px; height: 160px; margin-left: 10px; float: left;
}
.personalreco_con .righttxt .title {
	background: url("http://www.cmbchina.com/Images/arrow_red.jpg") no-repeat 0px 50%; height: 25px; line-height: 25px; padding-left: 7px; font-size: 14px; font-weight: bold; float: left;
}
.personalreco_con .righttxt .describe {
	width: 230px; height: 135px; line-height: 20px; font-size: 14px; float: left;
}
