/******************************************************************************************************************************************/

/* base */
body{ font-family: "Microsoft Yahei","微软雅黑",STXihei,"华文细黑",Hei,"黑体",sans-serif;font-size: 12px;color: #5c6773;margin:0px;padding:0px; background:#f7f6f4;}
ul,ol{list-style:none;padding:0px;margin:0;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td, fieldset, label, legend,dt,dd,dl, em,i{margin:0;padding:0;}
section, article, aside, header, footer, nav, dialog, figure,figcaption {display:block;}
figure {margin:0;}
img {border:0; }
a {text-decoration:none;color:#2d374b; /*line-height:24px*/;text-decoration:none;cursor:pointer;outline-color:-moz-use-text-color;
outline-style:none;outline-width:0;text-decoration:none;-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);}
/*a:hover {text-decoration:none;line-height:24px;color:#F00;}*/
button {cursor:pointer;}
fieldset,form{ background:none; border:none; padding:0; margin:0;}

/*Floats*/
.left{float:left;width:auto;}    
.right{float:right;width:auto;}

/* --------|  Clear Fix |--------- */
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}/* Hide from IE Mac */
html[xmlns] .clearfix{display:block;}/* End hide from IE Mac */
* html .clearfix{height:0; }