<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分析审核</title>
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
</head>
<body ng-app="credit" ng-controller="GradingExaminationAndApproval" ng-init="findOneAndCustomer()">
    <div class="col-xs-4 col-sm-4" >
        <form class="form form-horizontal" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-6 col-sm-6">
                    <span style="font-size: 20px;">客户评分资料</span>
                </label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    流水号：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    客户姓名：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    年龄：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    性别：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    户籍：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    教育程度：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    职业/单位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    职位或职称/执业资格：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    现单位工作时间：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    现单位工作时间：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    婚姻状况：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    配偶职业/单位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    配偶职位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    现住房产权性质：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    拥有固定资产（含自有房产和汽车）情况：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人年收入：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    家庭人均年收入：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    负债比率：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    保险：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    总体印象：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人贷款记录年限：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人贷款累计有效违约率：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername"   value="" class="input-text" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4 col-sm-4" >
        <form class="form form-horizontal" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-6 col-sm-6">
                    <span style="font-size: 20px;">客户评分选项</span>
                </label>
            </div>
            <!--站位开始-->
            <div class="row cl">
                <p style="width: 300px;height: 30px;"></p>
            </div>
            <!--站位结束-->
            <!--站位开始-->
            <div class="row cl">
                <p style="width: 300px;height: 30px;"></p>
            </div>
            <!--站位结束-->
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    年龄：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="age" style="width: 275px;height: 30px;" ng-options="x.fraction as x.name  in list.ages"></select>
                    <!--<select type="text" ng-model="age" style="width: 275px;height: 30px;">
                        <option ng-repeat="x.fraction as x.name  in list.ages"></option>
                    </select>-->
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    性别：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select type="text" ng-model="sex" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.sexs" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    户籍：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="household" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.households" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    教育程度：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="educational" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.educationals" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    职业/单位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="occupation" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.occupations" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    职位或职称/执业资格：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="position" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.positions" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    现单位工作时间：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="workingHour" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.workingHours" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    婚姻状况：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="marital" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.maritals" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    配偶职业/单位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="spouse" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.spouses" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    配偶职位：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="sex" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.sexs" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    现住房产权性质：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="propertie" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.properties" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    拥有固定资产（含自有房产和汽车）情况：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="possession" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.possessions" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人年收入：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="income" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.incomes" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    家庭人均年收入：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="perCapitaAnnual" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.perCapitaAnnuals" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    负债比率：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="debtRatio" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.debtRatios" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    保险：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="insurance" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.insurances" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    总体印象：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="generalImpression" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.generalImpressions" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人贷款记录年限：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="record" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.records" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-5 col-sm-5">
                    <span class="c-red">*</span>
                    个人贷款累计有效违约率：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <select ng-model="cumulative" style="width: 275px;height: 30px;">
                        <option ng-repeat="x in list.cumulatives" value="{{x.fraction}}">{{x.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4 col-sm-4">
        <form class="form form-horizontal" id="form-article-add">
            <div class="row cl">
                <label class="form-label col-xs-6 col-sm-6">
                    <span style="font-size: 20px">客户判定评分是否通过</span>
                </label>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">
                    <span class="c-red">*</span>
                    流水号：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-title" ng-model="entity.serialno" value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3 col-sm-2">
                    <span class="c-red">*</span>
                    客户姓名：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername" value="" class="input-text" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">得分数：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <p>{{age+sex+household+educational+occupation+position+workingHour+marital+spouse+spousal+propertie+possession+income+perCapitaAnnual+debtRatio+insurance+generalImpression+record+cumulative}}</p>
                    <!--<p ng-model="TotalScore"></p>-->
                    <!--<input type="text" id="website-Keywords" ng-model="TotalScore" value="" class="input-text" disabled>-->
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">评级判定：</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type="text" id="website-Keywords" ng-model="entity.customername" value="" class="input-text" disabled>
                </div>
            </div>
            <button style="width:150px;height:40px;font-size: 18px;/*margin-left: 400px;*/margin-top: 20px;" ng-click="reset(1)">审核通过</button>
            <button style="width:150px;height:40px;font-size: 18px;/*margin-left: 400px;*/margin-top: 20px;" ng-click="reset(2)">审核没通过</button>
            <button style="width:150px;height:40px;font-size: 18px;/*margin-left: 400px;*/margin-top: 20px;" ng-click="reset(3)">取消</button>
        </form>
    </div>
</body>
<!--自己写的-->
<script type="text/javascript" src="angularjs/js/angular.min.js"></script>
<script type="text/javascript" src="angularjs/baseapp.js"></script>
<script>
    app.controller('GradingExaminationAndApproval',function ($scope,$http,$location,$window) {
        // $scope.TotalScore=$scope.age+$scope.sex+$scope.household+$scope.educational+$scope.occupation+$scope.position+$scope.workingHour+$scope.marital+$scope.spouse+$scope.spousal+$scope.propertie+$scope.possession+$scope.income+$scope.perCapitaAnnual+$scope.debtRatio+$scope.insurance+$scope.generalImpression+$scope.record+$scope.cumulative;
        $scope.findOneAndCustomer=function(){
            $http.get('/GradingReview/findOneAndCustomer.action').success(function (response) {
                $scope.list=response;
            });
        }
        //查询客户申请的
        $scope.findCustomer=function () {
            $http.get('/BusinessApply/findOneAndCustomer.action?serialno='+$location.search().serialno).success(function (response) {
                $scope.entity=response;
            });
        };
    });
</script>
</html>