<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<!--<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>-->
<!--<script>DD_belatedPNG.fix('*');</script>-->
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>评分卡设置</title>
</head>
<!--<body  ng-controller="myApp" ng-init="mylistBeforeSub">-->
<body>
<div class="page-container">
	<!--<form action="" method="post" class="form form-horizontal" id="form-category-add">-->
	<form>
	<div id="tab-category" class="HuiTab">
		<!--<div class="tabBar cl">
            &lt;!&ndash;<span>身份评级设置</span>&ndash;&gt;
            <span>偿还评分设置</span>
            &lt;!&ndash;<span>印象评分设置</span>
            <span>信用评分设置</span>&ndash;&gt;
        </div>-->
		<div class="tabCon">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">栏目编号：</label>
				<div class="formControls col-xs-8 col-sm-9"></div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>
					上级栏目：</label>
				<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<!--<select class="select" onchange="SetSubID(this);"  ng-model="scordCard.parentId">-->
						<select class="select" id="parentId" name="parentId">
							<!--<option value="0">顶级分类{{shenfenGrade.id}}</option>-->
							<option value="0">顶级分类</option>
							<option value="1">分类一级</option>
							<option value="101">&nbsp;&nbsp;├ 分类二级</option>
							<option value="102">&nbsp;&nbsp;├ 分类二级</option>
							<option value="2">分类一级</option>
							<option value="200">&nbsp;&nbsp;├ 分类二级</option>
							<option value="3">分类一级</option>
							<option value="200">&nbsp;&nbsp;├ 分类二级</option>
							<option value="4">分类一级</option>
							<option value="200">&nbsp;&nbsp;├ 分类二级</option>
						</select>
						</span>
				</div>
				<div class="col-3">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>
					分类名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<!--<input type="text" class="input-text" value="" placeholder="" id="childname" name="childname" ng-model="scordCrad.childname">-->
					<input type="text" class="input-text" value="测试数据2222" placeholder="" id="childname" name="childname">
				</div>
				<div class="col-3">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>
					区段选择：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<!--<span class="select-box">-->

					<!--
                    Id	VARCHAR2(50),
                      gradeType	VARCHAR2(50),
                      childname varchar2(50),
                      parentname varchar2(50),
                      lowgradebanlance varchar2(50),
                      highgradebanlance varchar2(50),
                      gradeTarget	Number(8),
                      value	Number(8,2),
                      goal	Number(8,2),
                      parentId	VARCHAR2(50),
                      updatedate varchar2(50)-->
					<!--<select class="select"  name="lowgradebanlance" id="lowgradebanlance" onchange="SetSubID(this);" ng-repeat="x in scoreCards" >-->
					<select class="select"  name="lowgradebanlance" id="lowgradebanlance" >
						<option value="0">请选择区段</option>
						<!--<option value="10">{{scoreCard.lowgradebanlance}}</option>-->
						<option value="10">测试数据3-5</option>
					</select>&nbsp;&nbsp;&nbsp;&nbsp;

					</span>

				</div>
				<div class="col-3">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">总分值：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" placeholder="" id="value" name="value" value="90">
				</div>
				<div class="col-3">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">分值：</label>
				<div class="formControls col-xs-8 col-sm-9">

					<!--<select class="select"  id="goal" name="goal" onchange="SetSubID(this);" ng-repeat="x in scoreCards" >-->
					<select class="select"  id="goal" name="goal">
						<option value="0">请选择分值</option>
						<!--<option value="10">{{x.goal}}</option>-->
						<option value="9.0">9.0</option>
					</select>
				</div>
				<div class="col-3">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">所属类型：</label>
				<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<!--<select ng-model="scoreCrad.gradeType" class="select" id="gradeType" name="gradeType" ng-repeat="">-->
						<select class="select" id="gradeType" name="gradeType">
							<!--<option value="1">{{scoreCrad.gradeType}}</option>-->
							<option value="1">个人信息</option>
						</select>
						</span>
				</div>
				<div class="col-3">
				</div>
			</div>
			<!--<div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">更新时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="updatedate" name="updatedate" class="input-text Wdate" style="width:120px;">
                </div>
                <div class="col-3">
                </div>
            </div>-->
			<!--<div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否生成静态html：</label>
                <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                    <div class="check-box">
                        <input type="checkbox" id="checkbox-pinglun">
                        <label for="checkbox-pinglun">&nbsp;</label>
                    </div>
                </div>
                <div class="col-3">
                </div>
            </div>-->

		</div>
		<!--<div class="tabCon">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">固定资产：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" style="width:200px;">
                    &lt;!&ndash;<input type="button" class="btn btn-default" value="浏览">&ndash;&gt;
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">是否本人所有：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="checkbox" class="input-text" value="" style="width:200px;">
                    &lt;!&ndash;<input type="button" class="btn btn-default" value="浏览">&ndash;&gt;
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">个人年收入：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" style="width:200px;">
                    &lt;!&ndash;<input type="button" class="btn btn-default" value="浏览">&ndash;&gt;
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">家庭年收入：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" style="width:200px;">
                    &lt;!&ndash;<input type="button" class="btn btn-default" value="浏览">&ndash;&gt;
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">负债比率：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box">
                    <select class="select" id="" name="">
                        <option value="1">按年度划子目录</option>
                        <option value="2">按年/月划分子目录</option>
                        <option value="3">按年/月/日划分子目录</option>
                    </select>
                    </span>
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">保险：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="20" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>-->


		<!--<div class="tabCon">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">总体印象：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="20" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">分值：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="20" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">关键词：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="">
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">描述：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea name="" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>-->


		<!--<div class="tabCon">
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">信用程度：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    信用程度<input type="text" class="input-text" value="index.html" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">贷款年限：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="">
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">违约率：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">违约率：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" style="width:200px;">
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>-->
	</div>
	<div class="row cl">
		<div class="col-9 col-offset-3">
			<!--<input class="btn btn-primary radius" type="submit" id="myList" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" ng-click="mylistSub()">-->
			<input class="btn btn-primary radius" type="button" id="myList" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
</form>
</div>

<!--_footer 作为公共模版分离出去-->
<!--<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>-->
<!--<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>-->
<!--<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> &lt;!&ndash;/_footer 作为公共模版分离出去&ndash;&gt;-->

<!--请在下方写此页面业务相关的脚本-->
<!--<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>-->
<!--<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> -->
<!--<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> -->
<!--<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>-->
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#tab-category").Huitab({
		index:0
	});
	/*$("#form-category-add").validate({
		rules:{
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});*/
});


</script>


<script>
    <!--使用ajax进行数据的传输请求输出parentId相同的同级目录-->
     /*$(document).on("change","#parentId",function () {
         // $.ajax('manage/category/updateScoreCardSelect.action', {
         $.ajax('manage/category/getAllFirstCato.action', {
             method: 'POST',
             data: {"parentId":$("#parentId").val()},
             dataType:'json'
         }).done(function( response ) {
             if (response.status) {
		 		alert("success");
             } else {
                 $wrap.text("预览出错");
             }
         });
     });*/

    <!--使用ajax进行数据的提交-->
   $(document).on("click","#myList",function () {
			//alert("ajax传输数据");
			var Id = $("Id").val();
			var gradeType = $("#gradeType").val();
			  var childname =$("#childname").val();
			  var lowgradebanlance =$("#lowgradebanlance").val();
			  var goal = $("#goal").val();
			  var parentId	=$("#parentId").val();
			  var updatedate =$("#updatedate").val();

            $.ajax('manage/category/add_category.action', {
            method: 'POST',
            data: {
                "parentId":parentId,
				"Id":Id,
				"gradeType":gradeType,
				"childname":childname,
				"lowgradebanlance":lowgradebanlance,
				"goal":goal,
				"updatedate":updatedate
				},
            dataType:'json',
                success:function(data){
                    //window.clearInterval(timer);
                    console.log("over..test");
                    layer.alert("增加数据成功",function(){
                        window.parent.location.reload();
                        parent.layer.close(index);
                    });

                   // $("#").dialog("closed");
                    //window.close();
                    // var index = parent.layer.getFrameIndex(window.name);
                    // parent.layer.close(index);
                    // window.location.href="system-category.html";
                },
                error:function(e){
                    alert("错误！！");
                    window.clearInterval(timer);
                }
            })

    });
</script>


<!--使用angularjs进行数据显示提交-->
<!--<script type="text/javascript" src="lib/angular/1.5.0/angular.js"></script>-->
<!--<script>-->
    <!--var app = angular.module('myApps',[]);-->

    <!--app.config(function ($httpProvider) {-->
        <!--$httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';-->
        <!--$httpProvider.defaults.transformRequest = function(data){-->
            <!--if (data === undefined) {-->
                <!--return data;-->
            <!--}-->
            <!--return $.param(data);-->
        <!--}-->
    <!--});-->


	<!--app.controller('customersCtrl', function($scope, $http) {-->

       <!--/* $scope.mylistBeforeSub = function () {-->
            <!--alert("111111");-->


            <!--$http({-->
                <!--method: 'POST',-->
                <!--url: 'manage/category/getAllMessage.action',-->
                <!--params: {}}).success(function (result) {-->

                <!--var srs = result.sfGrade;-->
                <!--console.log("获取map====》sfGrade成功"+srs);-->

                <!--var srs1 = result.sfGrade;-->
                <!--console.log("获取map====》cdGrade成功"+srs1);-->

                <!--var srs2 = result.sfGrade;-->
                <!--console.log("获取map====》zpGrade成功"+srs2);-->

                <!--var srs3 = result.sfGrade;-->
                <!--console.log("获取map====》xyGrade成功"+srs3);-->
                <!--$scope.shenfenGrade = srs;-->
                <!--$scope.changhuanGrade = srs1;-->
                <!--$scope.zongpinGrade = srs2;-->
                <!--$scope.xinyongGrade = srs3;-->
                <!--alert("success!")-->
            <!--}).error(function (data, status, headers, config) {-->
                <!--alert(status)-->
            <!--});-->

        <!--}*/-->


        <!--$scope.mylistSub = function () {-->
            <!--alert("22222222222222222");-->
            <!--$http({-->
                <!--method: 'POST',-->
                <!--url: 'manage/category/add_category.action',-->
                <!--headers: {-->
                    <!--'Content-Type': "application/x-www-form-urlencoded"-->
                <!--},-->
                <!--// data: $.param({ aa:"xxx", bb:"yyy" }),-->
                <!--params: {-->
                    <!--gradeType: $scope.classifyData.gradeType,//memberId-->
                    <!--childname: $scope.classifyData.childname,-->
                    <!--lowgradebanlance: $scope.classifyData.lowgradebanlance,-->
                    <!--goal: $scope.classifyData.goal,-->
                    <!--parentId: $scope.classifyData.parentId,-->
                    <!--// updatedate: $scope.classifyData.updatedate-->
                <!--}-->
			<!--}).success(function (data, status, headers, config) {-->
                <!--if(data.status =0){-->
                    <!--alert("success!Status");-->
                <!--}-->
                <!--alert("success!")-->
            <!--}).error(function (data, status, headers, config) {-->
                <!--alert(status)-->
            <!--});-->
        <!--}-->
    <!--});-->
<!--</script>-->


<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>